[2012-12-10 13:34] midraed opened #1 "Integracion con R"
Habria que integrar sisinta con el paquete de R aqp.
El objetivo sería poder graficar lo perfiles, pintarlos con el color RGB correspondiente al color en campo.
Y análisis de parentesco.

Excepto lo de parentesco, para lo otro no haría falta R. Sin embargo, integrar con R nos puede dar ventajas a futuro.
![Uploading hz_distinctness_demo.png . . .]()

[2012-12-18 15:08] angelini75 opened #2 "Correcciones a la versión 0.1"
El nombre de SERIE puede repetirse siempre y cuando no sean modales. Sólo puede existir un perfil modal con nombre de serie único.

[2013-02-08 20:07] mauriciopasquier opened #3 "Permisos de usuarios"
Actualmente es un poco complicado seleccionar los perfiles permitidos para cada usuario.
- Falta vincular la búsqueda de perfiles con los permisos para que a partir de una búsqueda se pueda asignar un permiso en masa.
- Además podemos hacer un objeto intermedio que agrupe permisos. Algo así como un _grupo de usuarios_. Entonces le asignás los permisos al grupo, y después ponés los usuarios en el g

[2013-02-09 11:09] mauriciopasquier opened #4 "Uso de los escaneos"
Estaría buenísimo determinar lo antes posible los datos que quedan en los archivos que van escaneando.

Si se pudiera poner una fecha (al menos mes-año) estaría bueno. Nombre de serie y número de perfil sería mucho pedir? Eso simplificaría muchísimo la carga de los escaneos en SiSINTA.

Si no se puede, se me ocurre que podríamos hacer una carga "supervisada" donde se carguen los datos mínimos que

[2013-02-13 13:29] #2 closed, assigned to mauriciopasquier

[2013-02-21 13:13] midraed opened #5 "Interfaz"
Estuve hablando con Darío. Copio el mensaje:

Esto son inquietudes de Beatríz que es la que está cargando los perfiles:

0!)El sistema debe permitir la carga de perfiles con el mismo nombre de serie y símbolo. Actualmente no es posible ponerle a dos perfiles el mismo nombre de serie (igual se diferenciarían por el número de perfil y si es modal o no).
1) En distribución de Humedad: cuando dice "no

[2013-02-22 22:28] #5 closed, assigned to nobody

[2013-02-22 22:29] mauriciopasquier opened #6 "Carga de perfiles en la misma serie"
El sistema debe permitir la carga de perfiles con el mismo nombre de serie y símbolo. Actualmente no es posible ponerle a dos perfiles el mismo nombre de serie (igual se diferenciarían por el número de perfil y si es modal o no).

[2013-02-22 22:30] mauriciopasquier opened #7 "Seleccionar varios valores de humedad"
En distribución de Humedad: cuando dice "no uniforme" se debería poder seleccionar 2 o más opciones. Ej: Fresco - Húmedo

[2013-02-22 22:31] mauriciopasquier opened #8 "No se puede cargar Fase"
En Fase: no permite cargar nada

[2013-02-22 22:32] mauriciopasquier opened #9 "Espacio en observaciones"
En Observaciones tendría que haber mas espacio (más lugar para llenar con texto).

[2013-02-22 22:34] mauriciopasquier opened #10 "Cargar el símbolo de la serie"
se tiene que poder ingresar varios perfiles con el mismo símbolo ! Ej La serie Ramallo (Ra), el Ra es común a muchos perfiles que pertenecen a la serie y por lo tanto llevan el mismo símbolo

[2013-02-23 02:13] #6 closed, assigned to mauriciopasquier

[2013-02-23 23:37] angelini75 opened #11 "Datos cargados (Buscador avanzado)"
Entre los datos cargados hay un listado de perfiles que se agregaron masivamente que cuentan con pocos datos (coordenadas, ubicación, nombre, etc. y sin datos de horizontes), y por otro lado existen los datos cargados por Beatriz que tienen los perfiles completos. Haría falta una herramienta de búsqueda por más campos que etiquetas o nombre (e.g. mosaico, usuario, fecha)

[2013-02-23 23:39] angelini75 opened #12 "Error al cargar imagen"
Me da error al intentar subir una imagen a un perfil.

[2013-02-25 20:31] mauriciopasquier opened #13 "Decimales de N"
En datos analíticos, al N (nitrógeno) hay que agregarle un decimal (que sean 3), ya que normalmente su valor se indica así (ej 0,004)

[2013-02-26 08:06] #12 closed, assigned to nobody

[2013-03-01 06:43] #7 closed, assigned to mauriciopasquier

[2013-03-01 08:19] #9 closed, assigned to mauriciopasquier

[2013-03-01 16:13] #8 closed, assigned to mauriciopasquier

[2013-03-01 16:16] #10 closed, assigned to mauriciopasquier

[2013-03-01 16:29] angelini75 opened #14 "Nuevos Usuarios"
El sistema debería permitir a un nuevo usuario crear su perfil. Falta la opción para que yo pueda autorizar a un usuario a hacerlo.

[2013-03-06 15:47] #13 closed, assigned to mauriciopasquier

[2013-03-06 15:48] #14 closed, assigned to mauriciopasquier

[2013-03-20 15:11] angelini75 opened #15 "Mapa google de ubicacion"
No esta funcionando.

[2013-03-21 11:31] #15 closed, assigned to mauriciopasquier

[2013-04-17 14:48] midraed opened #16 "Información de series (provincias, etc)"
Mauri, en el visualizador de series: cuando vemos una serie se ve los perfiles asociados. Podemos pensar en incorporarles mas informacion a las series?? Porque ademas de cuantos perfiles asociados, hay algunos campos que podrian agregarseles: por ej, escala a la que esta definido, superficie, provincias?
La discusion es como hacemos para definir nombres unicos de series, porque suelen repetirse.

[2013-05-01 13:33] angelini75 opened #17 "Objetivo (4ta etapa? 5ta?)"
Me parece que aca tenemos un buen ejemplo de lo que deberíamos poder hacer

[SoilWEB](http://casoilresource.lawr.ucdavis.edu/soil_web/ssurgo.php?action=explain_component&mukey=50679&cokey=50679:51030)

Los datos de laboratorio en [Lab](http://casoilresource.lawr.ucdavis.edu/soil_web/component_data.php?cokey=50679:51030&action=horizon)

prefiero nuestra estructura

Los gráficos de la parte inferior

[2013-05-09 04:13] #3 closed, assigned to mauriciopasquier

[2013-05-09 11:53] mauriciopasquier opened #18 "Campos mínimos del perfil"
Para confirmar los requisitos de un perfil, en este momento se exige una fecha y nada más. Estuvimos hablando con @midraed de que debería exigirse también el número del perfil.

¿Hay perfiles sin número? En ese caso, ¿les falta el número porque nunca se le asignó, pero deberían llevar? En este caso se podría asignar un número cualquiera en el momento y una etiqueta que indique "números a revisar",

[2013-05-14 18:05] midraed opened #19 "Plantillas de carga"
Bueno, esto estaba hablado. Pero hay una necesidad de expandir sisinta a otros usuarios diferentes. La plantilla actual y la que eventualmente habiamos hablado para Mendoza, son mas bien de relevamiento. Pero existe la posibilidad de incorporar informacion de otros proyectos, que requeririan plantillas diferentes. De todas maneras, los datos alimentarian la misma base de datos.
Me parece que quiza

[2013-05-20 19:23] mauriciopasquier opened #20 "Agregar 'Laminar' en Estructura"
@dariorodriguez dijo "Algo más, en Estructura habría que agregar la opción "Laminar" Gracias"

Qué tipo de dato lleva eso? Cómo se llena?

[2013-05-20 19:25] mauriciopasquier opened #21 "No guarda el símbolo en la serie"
@dariorodriguez dijo: "Tenemos un problemita: cuando Beatríz (es la que está cargando la base) pone el nombre de una serie y el símbolo y la guarda, se le borra el símbolo...no se que es."

Esto es en la pantalla de creación de series o en la de perfiles? Estaba arreglado esto.. Qué serie específica intentaba cargar?

[2013-05-20 21:45] #20 closed, assigned to nobody

[2013-06-17 08:00] angelini75 opened #22 "Estrategia de Carga de Perfiles"
Este es un tema que no le afecta a Mauricio directamente pero hace a la base de datos.

¿Se podrá listar aquí las necesidades/trabas que afectan este tema?

[2013-07-03 10:03] angelini75 opened #23 "JSON & GeoINTA"
# Santiago #Mauricio

Cual es el problema por el cual no se ven los perfiles cargados en la página de geointa. En la solapa proyectos <- Perfiles modales <- perfiles sisinta no aparece nada.

https://github.com/angelini75/SiSinta/blob/desarrollo/sisinta.geojson

[2013-07-06 01:45] #11 closed, assigned to angelini75

[2013-07-06 02:55] #21 closed, assigned to nobody

[2013-07-15 15:03] #23 closed, assigned to sbanchero

[2013-07-15 15:34] midraed opened #25 "Exportar a CSV"
Dos pequeños problemas:
1 - Si no seleccionamos ningún perfil, y apretamos "exportar" da error 500. Me parece que: o bien podría dar un error relacionado con que al menos debemos elegir 1 perfil, o permitir la exportación de un csv vacio (pero con los encabezados) que es lo que yo quería hacer.

2 - Cuando vamos a "Agregar perfiles para exportar", colocamos algo en el campo de busqueda y presionam

[2013-07-30 02:58] mauriciopasquier opened #26 "Metadatos"
Si no son muchas se pueden agregar directamente en la tabla de analíticos. Si va a haber muchas propiedades diferentes por lugar, sería mejor hacer un esquema genérico para que los usuarios/admins agreguen los campos. Podemos ir agregando los prioritarios a la tabla y plantear esta "definición de propiedades" por parte del usuario para la 4ta etapa.

Podrían serlo. Si hacemos un esquema donde rela

[2013-08-07 16:56] mauriciopasquier opened #27 "Error en la carga de colores"
Dice @dariorodriguez

No, rarísimo.. ahora lo miro.

[2013-08-10 02:39] #27 closed, assigned to nobody

[2013-10-30 12:58] angelini75 opened #28 "Busqueda de perfiles"
Hola Mauricio,

Podrías incluir en la búsqueda de perfiles la opción de buscar por mosaico?
En lo posible que sea por ejemplo: "buscar todo lo que empieza con 3360"
o desde hoja 3560-5 a 3560-10

Gracias!

[2013-10-30 13:03] #28 closed, assigned to nobody

[2013-10-30 13:06] angelini75 opened #29 "Busqueda de perfiles"
Hola Mauricio,

Podrías incluir en la búsqueda de perfiles la opción de buscar por mosaico?
En lo posible que sea por ejemplo: "buscar todo lo que empieza con 3360"
o desde hoja 3560-5 a 3560-10

Gracias!

[2013-11-13 16:57] #29 closed, assigned to nobody

[2014-02-19 19:20] midraed opened #30 "Proyectos"
Error cuando se presiona editar!

[2014-02-25 20:12] angelini75 opened #31 "Formato del campo Mosaico"
Dentro de los datos cargados encontré variaciones en como se cargan el número de mosaico (perfil_ubicacion_mosaico.) Me parece que se podría evitar si en vez una sola celda aparecieran 3. La primera tiene que tener 4 dígitos, las segunda 2 y la tercera 1 dígito.

[2014-03-04 08:41] angelini75 opened #32 "Mapa en la pagina de inicio de sisINTA"
Cargué un perfil completo y la verdad que da gusto navegar por la página. Buen trabajo Mauricio.
Sin embargo siempre hay cosas para mejorar. Creo que si bien geointa debería dar el soporte de la parte espacial, no debería ser ninguna complicación agregarle un zoom al mapa (google) y la posibilidad que se vean el resto de los perfiles en el mapa (del perfil de suelo). No?
No se cual va a ser el fut

[2014-03-04 12:17] mauriciopasquier opened #33 "Sanitizar datos existentes"
Ya que la forma de cargar los datos fue cambiando con el tiempo (las personas que los cargan también?) y hubo/hay confusiones sobre algunos campos, podríamos agregar en este issue todos los items que necesitemos arreglar. Lo planteo como algo que puedo arreglar yo y no los usuarios porque seguro es más simple hacerlo "programáticamente":
- mosaicos cargados de diferente forma (ver #31)
- la misma

[2014-03-04 16:05] angelini75 opened #34 "Estandarización de Concreciones | Barnices | Moteados | Humedad | Raíces | Formaciones especiales | Color"
Para todos los casos lo que se intenta es tener la información lo más estandarizada posible para que sea posible analizarla o compararla con otros datos. En estos campos se suele usar el símbolo "+" para indicar la abundancia. Se suele usar uno, dos o tres "+". Eso podría reemplazarse por números.
Barnices generalmente nombra también si tiene slickensides o clayskins que en realidad son tipos de b

[2014-03-11 11:00] angelini75 opened #35 "Visor espacial"
Hola a todos.

Estuve hablando con Santiago Banchero. de la charla surgió que en realidad nosotros podemos hacer nuestro propio visor, que no hace falta que únicamente saquemos los datos espaciales por geointa, sino que podemos armar uno que se adecue a nuestros requerimientos. Lo que se pide desde geointa es que los datos que se publiquen en "nuestro visor" puedan estar también en el de geointa.

[2014-03-11 18:09] midraed opened #36 "Nueva Interfaz sisINTA"
Estimados:

Hace unas semanas nos reunimos con @mauriciopasquier y @pachirulo para discutir (entre otras cosas) la nueva interfaz de sisINTA.

Quedamos en usar esta web www.moqups.com para hacer los _bocetos_ de la futura interfaz.

Es facil de usar, y si apretan en edicion (arriba a la derecha, el lapiz) pueden arrastrar los botones, etc.

Si, les va a pedir una cuenta, creenla. Y cuando aparezca

[2014-03-18 02:26] #30 closed, assigned to mauriciopasquier

[2014-03-18 20:26] angelini75 opened #37 "Búsqueda genérica por varios campos"
En la busqueda de perfiles, en la p'agina inicial, no me muestra los perfiles que ya carge. Por ejemplo, http://sisinta.inta.gov.ar/perfiles/603, al poner el la busqueda "994" aparece en la lista. Pero el perfil "13-993" que tambien esta cargado no aparece. La mayoria de los perfiles no tienen nombre (lo que corresponder'ia a la serie que esta asignado).
La pregunta es, estan en la base de datos?

[2014-03-18 20:31] angelini75 opened #38 "Nro de mosaicos erroneos que no coinciden con la ubicacion"
@dariorodriguez fijate que muchas fichas tienen equivocado el numero de mosaico. Ya encontre varias que no coicide la ubicacion con lo que dice en la ficha. No hay manera de saberlo hasta que no se sabe la localizacion exacta, pero es algo que habria que ver como solucionarlo, porque el dato es erroneo.

[2014-03-20 00:39] #32 closed, assigned to angelini75

[2014-03-20 01:18] midraed opened #39 "Selector de plantilla en pantalla de "nuevo perfil""
En la pagina de carga de perfiles, debería haber arriba un selector de la plantilla de carga. El valor por defecto debería tomar de las preferencias del usuario, pero debería permitir cambiarlo para la carga de cada perfil.
Además debería permitir cambiar durante la carga del perfil sin reiniciar el formulario.

https://moqups.com/midraed/KsYE6M78/p:a00e5bea4

[2014-03-20 01:49] midraed opened #40 "Solicitud de acceso a perfiles privados"
Como resultado de una busqueda (del buscador generico/avanzado o de una selección espacial) podrían quedar seleccionados perfiles publicos y privados.
El sistema debería permitir enviar un mensaje predefinido + editable al (a los) responsables/equipos/dueños de los perfiles privados solicitando acceso.
Los dueños podrán aceptar o rechazar esa solicitud (desde el mismo mail? o desde una interfaz de

[2014-03-20 01:58] midraed opened #41 "Pantalla diferente al visualizar un perfil"
Deberíamos tener una pantalla diferente al ver un perfil, que se convirtiera a la de carga, al cambiar a edición.
La pantalla de ver podría tener los datos, organizados con la plantilla que se uso para la carga, pero tambien el desplegable para visualizarlo con otra plantilla. También el mapa que tiene ahora, y un gráfico del perfil, con sus capas/horizontes, su color y posiblemente un moteado de

[2014-03-20 02:04] midraed opened #42 "Ubicación relativa a Partido/Departamento, a partir de capas geográficas"
Deberíamos cargar en la BD los límites administrativos de 2do nivel (partido/departamento) y los puntos de las localidades. En la visualización de un perfil sisINTA debería mostrar algo como:
Ubicado en Tupungato_, cerca de San José_

donde Tupungato es un departamento, y San José la localidad mas cercana.
Eventualmente se puede agregar que si no hay ninguna localidad a menos de 100 kms (?), no mu

[2014-03-20 15:12] midraed opened #43 "Ayudas flotantes"
Habría que terminar de cargar las ayudas flotantes.
Mauricio va a reestructurar el archivo pero luego hay que terminar de completarlo.

[2014-03-20 15:16] midraed opened #44 "Glosario"
Luego de las ayudas flotantes, se podría complementar con un link donde haya una descripción mas completa del término, el significado de sus valores, etc.

Esto también hay que montarlo en la página del [wiki](https://github.com/INTA-Suelos/SiSinta/wiki/Diccionario-de-t%C3%A9rminos)

[2014-03-20 15:19] midraed opened #45 "Manual 0.5"
Generar una página de manual con la explicación del uso de cada una de las pantallas disponibles en la versión 0.5.

La base esta en el [wiki](https://github.com/INTA-Suelos/SiSinta/wiki/Manual-de-usuario) y habría que completarla

[2014-03-26 10:06] angelini75 opened #48 "El Blog de SiSINTA"
Además de los viajes en el tiempo que permitirá SISINTA, podríamos pensar en el desarrollo de un blog educativo sobre los mapas de suelos. Me imagino temas como "desmitificando los mapas de suelo" donde se explique la extrema variabilidad de los suelos y lo que los mapas pueden representar de esa variabilidad. Hablar de las metodologías de relevamiento. Vincularlo con agricultura de precisión. Cóm

[2014-03-31 04:44] #37 closed, assigned to mauriciopasquier

[2014-03-31 12:37] mauriciopasquier opened #49 "Actualizar el framework"
Dentro de poco rails 3 va a dejar de recibir actualizaciones asique habría que ir pasando a rails 4. Creo que lo hago antes que bootstrap, ya que es sólo una cuestión interna

[2014-04-01 07:39] angelini75 opened #50 "English version"

[2014-04-01 07:39] angelini75 opened #51 "English version"
Una versión al Inglés (y Francés si alguien se anima) facilitaría la interacción con grupos del exterior y ampliaría las posibilidades de proyectos internacionales.

[2014-04-01 07:41] #50 closed, assigned to nobody

[2014-04-09 12:52] midraed opened #52 "Mascaras de entrada"
Sería posible que el campo _x/lat_ y _y/long_ tuvieran una mascara de entrada? Pero esta deberia cambiar según el valor de _Formato_ del sistema de coordenadas..
En realidad la mascara no seria tanto para validar el campo sino de tipo orientativa:
Por ejemplo cuando uno usa el formato _Geográficas WGS84_, la latitud se puede poner
- 69º 32' 12.2" W
- -69º 32' 12.2"
- 69 32 12.2 W
  Donde el W (de

[2014-04-09 19:10] midraed opened #53 "Informacion adicional de perfiles"
Cuando uno esta creando un perfil tiene la opcion de añadir analiticos: me imagino que esto guarda el perfil y luego abre al edicion de analiticos. Podria haber un boton igual para añadir adjuntos; actualmente para añadir un adjunto hay que guardar el perfil, luego abrir la edicion y luego añadir el adjunto.

Seria bueno que al visualizar el perfil mostrara las imagenes adjuntas.

[2014-04-23 10:33] angelini75 opened #54 "Descarga CSV"
Hola Mauricio.
Al hacer la descarga del .csv encuentro que genera el siguiente error:
Perfil 364 y 554
en los campos "perfil_observaciones", "perfil_capacidad_clase", "perfil_ubicacion_descripcion" genera lo siguiente:
perfil 364  (correcto):
"En la base B31 hay una capita laminar de sedimentos arenoso compactado.
El IIC en consistencia figura compactado, cementado con Fe.","","A 14 km. al S.E. de

[2014-05-08 13:53] angelini75 opened #55 "Estandarizar perfil_ubicacion_mosaico"
Dejo una vía para estandarizar el nombre de los mosaicos ya cargados en sisinta  desde R

[code]

gsub() tambien funciona desde ruby por lo que se podría implementar dentro del sisitema

[2014-05-12 04:21] #54 closed, assigned to mauriciopasquier

[2014-05-12 06:27] mauriciopasquier opened #56 "No depender de rocket_tag"
[rocket_tag](https://rubygems.org/gems/rocket_tag) bloquea la actualización a rails 4 para #49 , y parece medio abandonado. Reemplazarlo por otra cosa!

[2014-05-13 08:15] #56 closed, assigned to mauriciopasquier

[2014-05-21 11:22] ahernan opened #57 "Tiempo de vida de la sesión en la web sisinta"
Estaba cargando una ficha y al dar crear perfil me lleva a la pantalla de iniciar sesión con el siguiente mensaje "Tienes que iniciar sesión o registrarte para poder continuar."
Posiblemente lo que pasa es que se me acaba el tiempo de sesión y por eso al dar crear perfil me lleva a ese lugar
Necesito por lo menos 2 horas
Gracias
Saludos

[2014-05-23 14:07] ahernan opened #58 "Error al adjuntar un archivo - carga de perfil."
En la carga de perfiles al intentar adjuntar un archivo el formulario retorna un error

[2014-05-30 13:46] angelini75 opened #59 "Textura"
El campo Textura aparece vacío cuando exporto el csv.

[2014-06-05 11:49] angelini75 opened #60 "Busqueda"
Al construir una búsqueda de perfiles por mosaico (condición: cualquiera empieza con 3560-10; 3560-11 / o especificando los mosaicos, "es igual a" por ejemplo 3560-10-1) me arroja todos los perfiles y no los especificados.

[2014-06-11 16:28] dariorodriguez opened #61 "Estandarizar Moteados"
Los moteados se describen a través de 3 características: contraste, abundancia y tamaño.

Contraste: débiles, precisos o sobresalientes
Abundancia: escasos, comunes o abundantes
Tamaño: finos, medios o gruesos

Usualmente aparecen en las fichas notaciones como "efp", lo cual indicaría que tiene moteados escaso, finos y precisos. No es la norma pero para agilizar la carga, creo que estaría bueno qu

[2014-06-11 18:35] dariorodriguez opened #62 "Series / Provincias"
Ya me envalentoné...

Estaría bueno que en la "Ficha de descripción edafológica" donde dice "Es Modal ?", Nombre (de la serie) y Símbolo pudiera además aparecer para cargar la Provincia. Ya creo que lo charlamos, pero es para recordar nomá...

[2014-07-28 15:39] midraed opened #63 "Usuarios de sisINTA"
Sería interesante que sisINTA notificara cuando cambian los permisos de un usuario. O sea, cuando alguien se crea una cuenta, cuando le suben el nivel para pdoer ver datos.

Además la administración de usuarios necesita una forma mas practica de validar los usuarios. O al menos notificar a alguien (o alguienes) que se crearon usuarios!!

Eso sí.. tenemos como 150 usuarios ya.. uff

[2014-07-29 07:12] #49 closed, assigned to mauriciopasquier

[2014-07-29 14:30] #57 closed, assigned to mauriciopasquier

[2014-07-29 22:14] #59 closed, assigned to mauriciopasquier

[2014-07-30 18:08] dariorodriguez opened #64 "Visualización"
Que les parece que la pantalla de acceso de usuarios tenga el estilo de la de GeoInta ? Creo que estaría bueno, ya que los usuarios se han familiarizado mucho con eso. Le dije a S Banchero sobre esto

[2014-07-31 14:11] #64 closed, assigned to nobody

[2014-07-31 14:30] #62 closed, assigned to nobody

[2014-08-01 14:52] midraed opened #65 "Busquedas espaciales"
Sería muy interesante poder hacer una búsqueda a partir de una coordenada. La idea sería darle una coordenada a sisinta y nos mostrara los 10 perfiles más cercanos. Mucho mejor si la posición a partir de la que hace la búsqueda se la pide al nevagador web, entonces: un celular con GPS podría hacer una búsqueda a partir de la posición en el celular.

[2014-08-01 18:17] midraed opened #66 "Integración con GeoINTA"
Con respecto a la integración con geoINTA, y según lo que hablamos con @mauriciopasquier y @sbanchero en CyA, en marzo pasado:

geoINTA lee el geojson una vez por día.

Actualmente el geojson tiene los siguientes atributos:
- _nombre_, que corresponde a _serie_ (habría que cambiarle el nombre)
- _fecha_ de toma del dato
- _id_ en el sistema y _número_ del pozo

El acuerdo fue, y para que la inform

[2014-08-01 19:28] #60 closed, assigned to mauriciopasquier

[2014-08-08 08:43] mauriciopasquier opened #67 "Importar CSV"
Estuve trabajando sobre la funcionalidad de importar. Todavía no hay interfaz pero la idea es que si se mantienen los nombres de las columnas del csv que se exporta, se puedan subir datos nuevos desde un csv, incluso cambiarlos de perfiles existenes, aunque ahí deberíamos definir cómo identificar a los que ya están cargados. Por ahora sólo crea.

@midraed hizo de conejillo de indias

[2014-08-12 01:37] #39 closed, assigned to nobody

[2014-09-15 15:33] dariorodriguez opened #68 "Mejoras"
Tengo varias propuestas por resolver que estuvimos viendo con Beatriz:
1. Lo de los moteados que se comentó anteriormente
2. En el campo humedad: debería poder cargarse S (seco), F (fresco), H (húmedo), M (mojado) y E (empapado)
3. En el campo raíces: debería poder cargarse 1 (r), 2 (rr), 3 (rrr) o vest.
4. Por último, ya que van a ir ingresando fichas de otras provincias, pienso que una solución

[2014-10-01 12:33] midraed opened #69 "Búsquedas con fallos"
@mauriciopasquier parece que en los ultimos cambios se rompio algo al hacer busquedas o exportar.. porque me da error!

[2014-10-07 06:01] #69 closed, assigned to mauriciopasquier

[2014-10-09 19:02] #68 closed, assigned to nobody

[2014-10-09 19:24] midraed opened #70 "Sistema de permisos"
Esquematizo como debería ser el sisitema de permiso de acceso a los perfiles:

_usuario_ hace una busqueda en Geointa y ve que existe un perfil de suelos en un area de interés para él. Cuando presiona el link para ir a la ficha del perfil observa que el _propietario_ del perfil lo ha marcado como privado.

_sisINTA_ le da la opción de pedir acceso al perfil, mediante un botón con el texto "solicit

[2014-10-09 19:34] #58 closed, assigned to mauriciopasquier

[2014-10-09 20:03] #70 closed, assigned to nobody

[2014-11-12 21:04] midraed opened #72 "latencia en sisinta"
Cuando cargo un perfil (en este momento) cuando aprieto "Crear Perfil" se demora en responder entre 15 y 30 segundos. Incluso a veces falla y tengo que volver a presionar el boton. A que se puede deber esa latencia?

Estoy desde la pc de INTA, y fuera del horario de mayor uso de la red (son las 18hs).
@mauriciopasquier @sbanchero

Saludos

[2014-12-10 23:51] mauriciopasquier opened #74 "texto cuando no se encuentra nada al autocompletar"
Por ahora no se puede cambiar asique sigue en inglés. Revisar cuando mergeen [esto](https://github.com/crowdint/rails3-jquery-autocomplete/pull/216).

[2014-12-11 16:53] mauriciopasquier opened #75 "¿Qué mostrar al clickear en un perfil en el mapa?"
Actualmente no pasa nada. Podemos mostrar un cuadro con información o llevar directamente a la vista de ese perfil. Si vamos por la primera, decidamos qué poner ahí. La segunda me parece menos redundante. Además, se puede poner información (nombre de serie, número de perfil, etc) a modo de "tooltip" (o sea cuando dejás el cursor sobre un punto) así sabés qué perfil es antes de clickearlo.

¿Qué le

[2014-12-11 17:04] #35 closed, assigned to nobody

[2014-12-11 19:01] #66 closed, assigned to nobody

[2014-12-11 19:27] midraed opened #76 "Visualizadores espaciales y perfiles publicos"
Actualmente tanto en el visualizador de la portada, como en GeoINTA se ven todos los perfiles cargados. Si estos perfiles son privados el usuario podria frustrarse haciendo click en perfiles que solo le avisan que no estan disponibles.

Se deberia poder diferenciar en geoINTA perfiles publicos y perfiles restringidos.
Ademas en el visualiador de la portada de sisINTA la visualizacion podria ser en

[2014-12-12 00:18] mauriciopasquier opened #77 "Licencia para perfiles del plan mapa del suelo"
@angelini75 dijo: "Que tal si discutimos el tipo de licencia/autoría para los perfiles del plan mapa del suelo que ya tienen más de 40 años?"

Asique lo puse en un issue aparte para que discutamos :P

[2015-02-02 16:01] guilleschulz opened #79 "Carga de perfiles - numero maximo de horizontes = 8?"
Buenas, tengo problemas en la carga de datos analíticos, específicamente con el perfil: http://sisinta.inta.gob.ar/perfiles/1226 que tiene 9 horizontes, solo me generó 8 columnas, no se si es el límite máximo de datos que toma el sistema hasta ahora.

Gracias y saludos.

[2015-02-02 16:06] midraed commented on #79
Ahora no muestra mas la ficha... si muestra los [analiticos...](http://sisinta.inta.gob.ar/perfiles/1226/analiticos). Mas temprano andaba.

@guilleschulz te edito un poco el nombre del issue, para que sea mas claro.

[2015-02-02 16:10] mauriciopasquier commented on #79
Yo veo bien la ficha.

Técnicamente no hay problema con poner más de 8 horizontes, pero la tabla sí está limitada. Tendríamos que desviarnos de la planilla en papel un poco para que sea lindo y usable

[2015-02-02 16:11] guilleschulz opened #80 "Falta de campo para "gravas""
Habría que agregar otro campo en la planilla de carga de datos analíticos que se llame "Gravas" y tendría que ser en (%) en la parte final de Textura.

En algunas fichas en papel aparece una fila con el campo vacío, normalmente ahí se agregaba a mano en el caso de los suelos que tengan gravas.

Gracias y saludos

[2015-02-02 16:12] midraed commented on #79
Si anda la ficha. Pero descubri un comportamiento extraño.

Si no estoy logueado, no puedo entrar a la ficha.. y me devuelve un error (something wrong ..)
Peroo..  si no estoy logueado, si puedo acceder a los analiticos. Si escribo el link.

Cuando me logueo, anda la ficha perfectamente. Voy a investigar mas y armo un issue para esto.

[2015-02-02 16:12] guilleschulz commented on #79
Estaría bueno q genere más de 8 columnas sino van a quedar datos sin cargar

[2015-02-02 16:17] midraed commented on #79
Bueno... eventualmente.. y cuando resolvamos #36 podemos verlo de trabajarlo ahi.

Si @guilleschulz deberia esperar a ese momento para corregir el perfil 1226. Debe ser el unico que tiene >de 8 horizontes.

[2015-02-03 12:17] guilleschulz commented on #79
Ok. La parte de cargar 9 horizontes no hubo drama, el problema fue en la tabla de datos analíticos.

Gracias

[2015-02-04 12:35] angelini75 opened #81 "Errores en datos de perfiles"
Hola a todos,

Dado que estoy usando los datos de sisinta he ido encontrando algunos errores de carga que me parece conveniente reportar en issue específico. No se si debería ir al #33 ya que ahí se hace mención a criterios de carga. En este caso se trata de errores de tipeo de perfiles específicos, que para ser solucionados se requiere buscar las fichas originales y corregir los errores. Cuando l

[2015-02-05 13:30] guilleschulz commented on #79
Groso @mauriciopasquier vi, que ya arreglaste lo de la tabla de datos analíticos ;).

Abrazo

[2015-02-05 15:08] midraed commented on #79
Excelente. Cierro entonces!

[2015-02-05 15:08] #79 closed

[2015-02-05 15:26] dariorodriguez commented on #81
Hola Marcos: recién estoy de vuelta de las vacaciones. El lunes vuelvo a
Inta y reviso eso. Abrazo

2015-02-04 9:35 GMT-03:00 Marcos Angelini <notifications@github.com>:

--
Darío

[2015-02-10 12:45] dariorodriguez commented on #81
Ya encontré los errores...Beatríz va a rastrear las fichas y lo corregimos

[2015-02-10 13:38] midraed commented on #81
Urge tener un esquema de validacion post entrada. Digo, hay algunos datos
que son faciles de validar en la entrada : pH 73,5 por ejemplo

2015-02-10 9:45 GMT-03:00 Dario Martin Rodriguez <notifications@github.com>:

[2015-02-10 13:47] dariorodriguez commented on #81
Si...eso es bueno. Me voy a poner con eso en un "isu" y despues lo vamos
viendo

El 10 de febrero de 2015, 10:38, Guillermo Federico Olmedo <
notifications@github.com> escribió:

--
Darío

[2015-02-10 14:03] dariorodriguez opened #82 "Validaciones en la carga"
Voy a ir armando acá un listado de valores posibles para los parámetros de suelo, de modo que no aparezcan datos incoherentes como pHs de 73

[2015-02-10 15:10] angelini75 commented on #81
Si queres @dariorodriguez yo te puedo pasar un listado de los valores que aparecen en ciertos campos que deberían ser revisados o estandarizados. Por ejemplo, tipo de horizontes aparecen A, A1, A 1, Ap, AP, A *, A (oAB), etc. Yo hice para mi un script  de R para limpiar esas cosas que en parte se podría usar para estandarizar. (fijate linea 40 a 73 https://github.com/angelini75/SEM2DSM/blob/master

[2015-02-10 17:08] dariorodriguez commented on #81
Espectacular ! Igualmente yo soy de la idea que los datos hay que
guardarlos tal cual se generaron. Por ejemplo, la nomenclatura de
Horizontes sufrió algunas modificaciones desde que se relevaron los
primeros suelos (el A2 ahora es E, el B3 ahora es BC...etc) Pero aún hoy
existen diferencias de criterio entre nosotros mismos acerca de como
llamamos a los horizontes. Incluso, podría ser que distint

[2015-02-11 08:00] angelini75 commented on #81
Coincido con vos @dariorodriguez. Quizás se podría tener una versión original y otra estandarizada de la base de datos. Así, si tenes que trabajar con muchos perfiles (como en mi caso) los datos ya estarían listos para ser analizados. Es posible de hacer eso @midraed ?

[2015-02-11 12:38] dariorodriguez commented on #81
Claro...el sisinta debería tratar de salvar los datos tal cual hayan sido
relevados...incluso eso nos pondría a salvo de "interpretaciones" que se
hayan hecho despues y que muchas veces aparecen publicadas, sin ir mas
lejos en nuestra web. En el futuro, agregar nuevos campos no sería
inconveniente, pero siempre resguardando los datos originales

El 11 de febrero de 2015, 5:00, Marcos Angelini <not

[2015-02-11 12:50] midraed commented on #81
@angelini75 Creo que eso se puede hacer. Hay muchas formas de plantearlo. Pero tampoco es tan sencillo. Me parece que sisINTA y como dicen uds, tiene que tener lo datos, como fueron relevados. Y creo que los datos adaptado, o actualizados son subproductos... pero es complicado.. hay que pensarlo mas.

[2015-02-11 13:11] midraed commented on #82
Creo que lo que se peude generar es para cada campo analitico (porque estamos hablando solo de los campos analiticos) un csv con nombre_del_campo, valor_minimo_posible, valor_maximo_posible, valor_minimo_esperable, valor_maximo_esperable.

Por ejemplo (me invento los esperables)
analitico_ph_pasta, 0, 14, 3, 12

Y eso quizas podria servir para marcar datos erroneos, y datos dudosos. Incluso podria

[2015-02-11 13:16] dariorodriguez commented on #81
Lo bueno es que tengamos ese criterio común, que sisinta es como un archivo
histórico primero que nada. Contento por eso, vá

El 11 de febrero de 2015, 9:50, Guillermo Federico Olmedo <
notifications@github.com> escribió:

--
Darío

[2015-02-11 13:17] dariorodriguez commented on #82
Maravilloso. Totalmente de acuerdo

El 11 de febrero de 2015, 10:11, Guillermo Federico Olmedo <
notifications@github.com> escribió:

--
Darío

[2015-02-11 13:23] midraed commented on #80
Estoy que plantea Guille es importante. En Mendoza nunca usamos ese espacio vacio que dice Guille.. y el porcentaje de gravas (o fraccion mayor a 2mm, o esqueleto grueso), terminaba anotado en formaciones especiales.
Al final este dato, es muy importante por ejemplo para estimar el agua disponible. Y entonces creo que hay que formalizar su inclusión. Ademas porque muchas veces esta anotado en algu

[2015-02-11 13:24] mauriciopasquier commented on #82
@midraed si querés ir armandolo así, buenísimo. Pero dudo que el csv sea la forma final en la que se use si son valores que no van a cambiar (los mínimos y máximos al menos). Sobre los esperados, ustedes sabrán si vale la pena. Se puede usar lo que haya y si no hay ignorar ese chequeo.

[2015-02-11 13:25] dariorodriguez commented on #81
Volviendo a la consulta original de Marcos, eso ya está revisado y
corregido.

El 4 de febrero de 2015, 9:35, Marcos Angelini <notifications@github.com>
escribió:

--
Darío

[2015-02-11 13:29] midraed commented on #81
Entonces esto quedo resuelto.
Si se abren 2 nuevos "isus" (jajaj): el de valores posibles #82 y quedo en discusion sobre generar versiones actualizadas/adaptadas de la base de datos... que lo podemos dejar para mas adelante.

[2015-02-11 13:29] #81 closed

[2015-02-11 13:51] midraed commented on #82
@mauriciopasquier no, creo que no son valores que vayan a cambiar, una vez acordemos. Si puede pasar que en el futuro se rediscuta algo, y se mueva un poco un valor esperable.. pero no deberia ser algo comun y que por lo tnato necesite facil actualizacion.
Lo del csv, es para que te sea mas facil tomarlo, vs. tomarlo del texto de la discusion del issue. Pero pensandolo bien te serviria mas en una

[2015-02-11 14:04] mauriciopasquier commented on #82
Para mí es algo que va a terminar en el código (por las validaciones, por ejemplo) de una u otra forma. Asique no me preocuparía por el formato en el que lo arman, lo veo más como documentación por ahora. Por la misma razón, no creo que sea necesario meterlo como archivo en el repositorio. Tal vez sea mejor hacer una tabla acá en el wiki: https://github.com/INTA-Suelos/SiSinta/wiki/Valores-posible

[2015-02-11 14:27] midraed commented on #82
Ok.. excelente. Ahí agregué toda la lista de campos analiticos. @dariorodriguez te animas a
completarla?
Tenes que apretar edit, y luego poner los valores entre las barritas. Cualquier cosa: me decis!

[2015-02-11 14:32] dariorodriguez commented on #80
No está para nada claro este tema. Incluso habría que tener mucho cuidado con el origen de los valores que se ingresan. Como es que se hace en Mza Fede ?
De lo que yo conozco (y en nuestra zona no hay mucho suelos con grava) se indica como "presencia" de gravas o gravillas en uno o más horizontes y a lo sumo se hace una estimación visual del volumen que ocupan las gravas en porcentaje sobre el tot

[2015-02-11 14:33] dariorodriguez commented on #82
Esto te va a costar un par de birras

El 11 de febrero de 2015, 11:27, Guillermo Federico Olmedo <
notifications@github.com> escribió:

--
Darío

[2015-02-11 14:36] midraed commented on #82
no hay problema.

[2015-02-11 14:40] midraed commented on #80
Se entiende. Y si: las fracciones menores a 2mm suman 100%.
Nosotros, anotamos a ojo, o a veces medido con el tamiz de 2mm, el porcentaje de gravas (de esqueleto grueso le ponemos nosotros). Entonces: luego el calculo de agua disponible se afecta por el porcentaje de esqueleto grueso.

O sea que podemos tener un suelo que tiene 60% de esqueleto grueso, y que luego tiene una composicion de 10% arci

[2015-02-12 14:05] guilleschulz commented on #80
En los perfiles de Entre Ríos aparecen las 2 opciones que comentaron antes:
- 1: el relevador coloca en la ficha lo que observa a campo y le asigna un % estimativo de presencia y tamaño (por ejemplo 3% de gravas de 0,5 mm).
- 2: existe el dato de laboratorio que se obtiene de las muestras extraídas a campo.

Al no existir la fila en los datos analíticos donde completar este dato muchas veces los t

[2015-02-19 13:18] dariorodriguez opened #83 "Perfiles con ubicación confusa"
Tenemos bastantes perfiles cuya ubicación no está clara. Muchos de ellos se hicieron para mapas viejos (ej. Atlas de Suelos de la Republica Argentina) y no queda claro sobre que material se ubicó el perfil. Generalmente era sobre planchetas IGM, las cuales se han extraviado o nadie sabe donde están. Hay otros, en los cuales la única referencia geográfica es por ej. "A 2,5 km al SO de Aldea Beleiro

[2015-02-19 22:16] mauriciopasquier commented on #75
Ya está subido, sale un diálogo con link a la serie y al perfil en cada punto.

[2015-02-19 22:16] #75 closed

[2015-02-19 22:17] mauriciopasquier commented on #72
Cierro porque ya no pasa (habrá sido cosa de infraestructura de red?)

[2015-02-19 22:17] #72 closed

[2015-02-20 08:11] angelini75 commented on #83
Creo que esto lleva también a la necesidad de tener un campo que informe sobre la precisión de la ubicación. Hay perfiles que están ubicados con GPS, otros con cartas topográficas, otros con planchetas, otros con referencias como la que menciona Darío y algunos que sólo se puede decir que pertenecen a tal mosaico. Creo que se podría crear un campo (correspondería a metadatos?) que imdique esto def

[2015-02-20 15:28] dariorodriguez commented on #83
Ta bien interesante la propuesta. Sería como decir que tan preciso es el dato

[2015-02-20 15:30] dariorodriguez commented on #75
Excelente !

2015-02-19 19:16 GMT-03:00 Mauricio Pasquier Juan <notifications@github.com>
:

--
Darío

[2015-02-20 18:35] dariorodriguez opened #84 "Raíces"
Sería bueno ordenar el tema raíces. En el manual de relevamiento dice que se debe colocar R, RR o RRR. Creo que lo mejor sería que al cargar sólo se pueda elegir entre 1, 2 o 3...sin dar más opciones. Esto se podría hacer @mauriciopasquier sin ir uno por uno ?
Sería asignar 1 a R (o X), 2 a RR (o XX) y 3 a RRR (o XXX) e incluso a RRRR o lo que sea (más de 3 que sea 3) para lo que ya está cargado.

[2015-02-20 19:33] midraed commented on #34
@dariorodriguez en #84 vuelve a poner en discusión la estandarización de estos campos. Lo pego acá:

(cierro el otro para dejar la discusión acá sola)

[2015-02-20 19:38] midraed commented on #83
Si, sería un metadato de la ubicación... pero por la importancia lo dejaría en la ficha.. psiblemente al lado de la ubicación.

O sea, la propuesta quedaría:
Agregar un campo de nombre "Ubicación precisada con:". Los valores podrían ser (y acá, @dariorodriguez @angelini75 decime si no me olvido alguno):
* GPS
* Carta topográfica
* Plancheta
* Aerofoto

Podría ser una lsita desplegable, si logramos

[2015-02-23 20:26] angelini75 commented on #83
Corregir coordenadas
http://sisinta.inta.gob.ar/perfiles/686

[2015-02-24 12:27] dariorodriguez commented on #83
Hola Marcos: estaba viendo ese perfil, pero tengo una idea...querés que le
dé a Mauricio los 3000 puntos que pasó Santiago y que directamente
actualicemos todas esas ubicaciones ?

Es automático, ya sé...pero después a lo mejor podemos ir corrigiendo si
hay errores.

2015-02-23 17:26 GMT-03:00 Marcos Angelini <notifications@github.com>:

--
Darío

[2015-02-24 14:49] angelini75 commented on #83
Por mi experiencia uniendo las coordenadas con los perfiles, creo que es un trabajo que hay que dividirlo en varias etapas para poder hacerlo automático. A Mauricio hay que entregarle el listado de ubicaciones definitivo. Imaginate que duplicaras puntos o quedaran puntos que no pueden identificarse, sería un trabajo mucho peor limpiar eso de la base de datos.

Un esquema  (borrador) que yo propond

[2015-02-24 22:18] angelini75 commented on #83
Acá el esquema. pueden editarlo en el link de abajo
![esquema carga ubicaciones](https://cloud.githubusercontent.com/assets/1261131/6360566/5def153e-bc7b-11e4-92bf-bba760baa38e.png)
https://docs.google.com/drawings/d/1zBTUhXrJ8jpiMaoRMe67wkZxOvPwLd138ihUvFqIaKU/edit?usp=sharing

[2015-02-24 22:39] #84 closed

[2015-02-24 23:02] mauriciopasquier commented on #33
He estado pensando sobre estos temas de estandarización que vienen surgiendo (#31, #34, #61, #55, #83) y especialmente la discusión sobre datos dudosos de #82. Creo que hay dos conceptos diferentes que ahora están mezclados:

1. la representación fiel, histórica, a modo de archivo de la ficha
2. los datos del perfil procesados para ser útiles, corregidos, sanitizados, estandarizados

Y que lo idea

[2015-02-25 12:31] dariorodriguez opened #85 "Ordenar Perfiles"
Dos simples modificaciones que podrían mejorar el acceso a los perfiles ahora que ya hay bastantes.
1) que se pueda ordenar Series por provincias
2) Que al Buscar por Series>Ver donde dice 1 2 3 ... Siguiente > última. aparezcan todas. Total hay mucho lugar (ahora sería 1 2 3 4 5 6 7 8 9 10 11 12 13)

[2015-02-27 13:34] dariorodriguez commented on #85
Ah...y una mas...si se puede. Que al poner "volver" no vuelva a la página 1, sino a la que estabas trabajando (sugerencia de Beatriz)

[2015-03-09 17:51] dariorodriguez commented on #82
Bueno...eso ya lo completé
Consulté a Daniel Carreira para datos de laboratorio, a Patricia Carfagno para valores de constantes hídricas y Romina Romaniuk me dió una mano con algunos valores que tenía dudas (consultó a la gente del laboratorio de suelos de Edafo-UBA)
Creo que ya está listo

[2015-03-10 15:55] dariorodriguez opened #86 "Extracto de suelo saturado"
Estimados: estoy pasando unos perfiles del sur de Buenos Aires y al ser salinos vamos a tener que agregar una tabla extra en "Analíticos" para estos suelos.

Esto surge ya que en los suelos salinos se hacen análisis complementarios sobre un extracto. Quisiera saber como subo la tabla (en que formato, vá)

[2015-03-10 16:16] mauriciopasquier commented on #86
On Tue, Mar 10, 2015 at 08:55:16AM -0700, Dario Martin Rodriguez wrote:

una tabla completamente nueva o una fila en la tabla que ya hay?

--

[2015-03-10 16:24] dariorodriguez commented on #86
Sería una tabla anexa a continuación de la de datos analíticos, pero sólo se habilitaría la carga para suelos salinos.

Se me ocurre por ej. que al final de la carga de analíticos pregunte si se quiere cargar el "Extracto del suelo saturado" y en esa caso se habilite

[2015-03-11 08:12] angelini75 commented on #86
@mauriciopasquier Se trata de una tabla con la misma estructura que analíticos. Al igual que Analíticos, tiene que tomar los horizontes ya cargados. No recuerdo cuantos datos son, pero quizás @dariorodriguez puede listar nombre y tipo de propiedades, por ejemplo:

Variable, tipo, unidades, rango de valores
Conductividad, numérico, mhos/em, 0,01-200,00
Salinidad, cualitativo, NA , alta; media; baja

[2015-03-11 12:08] dariorodriguez commented on #86
Sí...yo la tabla se la doy, pero quería saber como cargarla para que le sea
más fácil

El 11 de marzo de 2015, 5:13, Marcos Angelini <notifications@github.com>
escribió:

--
Darío

[2015-03-11 12:12] midraed commented on #86
No, Darío no se puede cargar la tabla en excel o similar. Mauricio tiene
que generar los campos en la base de datos, y luego las relaciones, y luego
la interfaz. No es muy complciado pero le va a llevar tiempo.

Para ir acercandonos al problema yo creo que podrias ir mostrandonos
cuantos campos son y como se relaciona con la otra tabla. Pero, creo que
mauricio deberia enfocarse en los otros pendie

[2015-03-11 12:22] dariorodriguez commented on #86
Bueno, eso como les parezca, ya que es cierto que no estaba planeado y ya
lo estamos jodiendo bastante en estos días.
Pero para que lo vayan viendo sería una tabla anexa a la de analíticos,
donde a cada Horizonte (los mismos del perfil) se le miden unas 10
variables más

El 11 de marzo de 2015, 9:12, Guillermo Federico Olmedo <
notifications@github.com> escribió:

--
Darío

[2015-03-26 13:12] dariorodriguez commented on #33
Lo que dice Mauricio está muy bien. Hay que discutirlo bien.
Por ahora mi opinión es que la ficha preserve los datos cargados por la persona que hizo el pozo, que es lo que nos importa.

Una modificación necesaria sería poder incluir datos a profundidades de 10 m y no de 5 como hasta ahora (aunque no lo crean hay una calicata de Gómez muestreada hasta los 800 cm !!)

[2015-04-17 10:45] angelini75 opened #87 "servidor lento?"
Hola,
No se si es un problema mío o es general, pero la página (de sisinta) tarda cada vez más en responder y al menos de acá la descarga, selección o consulta de perfiles no funciona. Aparece un mensaje como este
Proxy Error

The proxy server received an invalid response from an upstream server.
The proxy server could not handle the request POST /perfiles/procesar.csv.

Reason: Error reading from

[2015-04-17 11:10] mauriciopasquier commented on #87
Buenas! Una consulta: cuándo fue la última vez que pudiste descargar bien? Porque hace rato que no se toca nada en el server

[2015-04-17 11:16] mauriciopasquier opened #88 "Relajar validaciones"
Relacionado con #33 (discutir la [propuesta](/INTA-Suelos/SiSinta/issues/33#issuecomment-75867360)), opuesto de #82.

Dice @dariorodriguez:

[2015-04-17 11:29] mauriciopasquier commented on #87
Me queda la duda de si se había resuelto el #72 o no

[2015-04-17 12:38] sbanchero commented on #87
Buenos días, ahí estuve mirando un poco. De red no es el problema. El problema es que la virtual esta hasta las manos. Necesita más RAM. Esta paginando mucho por eso es una tortuga tiene 60 MB de libres de RAM y 400 MB de Swap el resto esta ocupado. @mauriciopasquier  si podes pegale una reiniciada porque ese swap no lo va a liberar nunca más. Digo así revive un poco. Si me das el ok yo lo hago, e

[2015-04-17 12:40] sbanchero commented on #87
Si vas derecho por la IP sin pasar por el proxy reverso dice esto:
We're sorry, but something went wrong.

We've been notified about this issue and we'll take a look at it shortly.

2015-04-17 8:29 GMT-03:00 Mauricio Pasquier Juan <notifications@github.com>:

--
Santiago Banchero

[2015-04-17 13:48] midraed commented on #87
Bueno.. dicen que lo van a solucionar, despreocupemonos nosotros:

We've been notified about this issue and we'll take a look at it shortly.

Jejej.. perdon no me pude aguantar la broma. Santi, si mauricio no
responde, la reinicias? Capaz que ya no esta frente a su maquina..

2015-04-17 9:40 GMT-03:00 Santiago Banchero <notifications@github.com>:

[2015-04-17 15:17] sbanchero commented on #87
Si, ahí quedó andando de maravillas!
Buen finde muchachos!

El 17 de abril de 2015, 10:48, Guillermo Federico Olmedo <
notifications@github.com> escribió:

--
Santiago Banchero

[2015-04-17 16:28] angelini75 commented on #87
habilitá mas RAM viejita!!!

2015-04-17 17:17 GMT+02:00 Santiago Banchero <notifications@github.com>:

[2015-04-17 16:38] angelini75 commented on #87
Solucionado

[2015-04-17 16:38] #87 closed

[2015-08-12 14:07] angelini75 opened #89 "portada no muestra capa OSM"
El mapa en la portada de sisinta no muestra la capa de open street map.

[2015-08-13 11:49] midraed commented on #89
Si.. de hecho no se ve. Ayer en realidad no funcionó durante un rato largo
sisinta. Pero hoy puedo entrar y solo tenemos puntos.

[2015-08-13 13:56] mauriciopasquier commented on #89
On Thu, Aug 13, 2015 at 04:49:17AM -0700, Guillermo Federico Olmedo wrote:

cambiaron la url de los tiles. Ya estoy buscando otra alternativa más estable

--

[2015-08-25 01:18] mauriciopasquier commented on #89
En geointa usan los de google maps, no? Uso esos directamente? No hay tiles propios del inta? :P

ping @sbanchero

[2015-08-26 11:53] sbanchero commented on #89
No hay tiles de INTA. En geointa.inta.gov.ar/visor usamos gmaps.
Pero en la nueva estamos usando Bing porque en Openlayers 3 hay que
hardcodear mucho para que que funcione gmaps.
¿Qué necesitas una imagen de base y la cartografía de base?
Lo dejo a tu criterio @mauriciopasquier

El 24 de agosto de 2015, 22:18, Mauricio Pasquier Juan <
notifications@github.com> escribió:

--
Santiago Banchero

[2015-08-26 16:55] guilleschulz opened #90 "Estructura secundaria"
Buenas, les dejo planteada la inquietud de poder agregar la estructura secundaria de cada horizonte. En la actualidad solo se puede cargar la estructura principal, pero muchas veces existe estructura secundaria que aparece en la ficha y de no agregarla se pierde.

Saludos.

Guille.

[2015-10-20 01:40] mauriciopasquier commented on #89
Arreglado esto. Puse dos capas de google (terreno y satélite) y la de datos de open street map, junto con un selector de capas. Se pueden ir agregando capas interesantes si hiciera falta.

De paso, aparecieron unos puntos ubicados en cualquier lado :P

[2015-10-20 01:40] #89 closed

[2015-10-20 13:44] Raul-B commented on #85
Hola que tal, queria añadir algo, cuando seleccionas las cantidades de series/perfiles (por ej. 50), despues cuando queres ordenar vuelven a 20, seria bueno que mantenga las 50 previamente seleccionadas. Y cuando ordenas por provincias por alguna razon aparecen las de Salta primero? Creo que ahi estaria muy bueno agregar una especie de filtro por provincia.

[2015-10-20 14:03] Raul-B opened #91 "Problema en la carga de un perfil existente (permisos?)"
Buenas, estamos teniendo el siguiente problema nos a pasado con varios perfiles pero en este momento cito este en particular. El perfil Apipé que lo cargo Rosa Salvadora Lencinas con un usuario Autorizado no lo puede editar le dice que no tiene permisos y no le aparece la opción cuando le da a ver. Pense que podia ser problema de permisos asi que fui a la sección de permisos le asigne el usuario d

[2015-10-20 17:29] mauriciopasquier commented on #85
@Raul-B eso de las cantidades debería ser como decís, ahora me fijo.

Lo de Salta es por el orden en que las creé, no me había dado cuenta. Debería ser alfabético. Gracias por avisar

[2015-10-29 01:49] mauriciopasquier opened #92 "Error al mostrar adjuntos"
Una actualización había dejado el servidor de producción mal configurado, ya quedaron accesibles de nuevo.

[2015-10-29 01:49] #92 closed

[2015-10-29 04:35] mauriciopasquier commented on #91
@Raul-B: Ya subí el arreglo para esto, por favor prueben si ahora anda.

[2015-11-12 20:32] pablero opened #93 "AMF7816"
Fíjate si podes commitear

[2015-11-12 22:47] mauriciopasquier commented on #93
Repo equivocado? :P

[2015-11-12 23:57] pablero commented on #93
Ja ja si perdón
El nov. 12, 2015 7:47 PM, "Mauricio Pasquier Juan" <notifications@github.com>
escribió:

[2015-11-13 00:00] mauriciopasquier commented on #93
Todo bien!

[2015-11-13 00:00] #93 closed

[2015-11-18 14:26] angelini75 opened #94 "SiSINTA muy lento / no ingresa usuario"
@mauriciopasquier
Parece el mismo problema que aparece de tanto en tanto (cahe?)

{Proxy Error

The proxy server received an invalid response from an upstream server.
The proxy server could not handle the request GET /.

Reason: Error reading from remote server}

[2015-11-18 19:34] mauriciopasquier commented on #94
Puede ser que los servers estén matando la máquina.. voy a tratar de tunearlos esta semana. Igual no vendría mal un poco más de RAM, tiene 1gb ahora el server.

[2015-11-24 11:07] Raul-B commented on #91
Hola Mauricio, sabes que hoy probamos y sigue todo igual!?

[2015-11-24 11:14] mauriciopasquier commented on #91
@Raul-B: Pasame un link al perfil y el email del usuario que intenta cargar, así investigo bien.

[2015-11-24 11:17] Raul-B commented on #91
Este es uno,  http://sisinta.inta.gob.ar/perfiles/1257 pero todos los que cargo tienen este inconveniente, al principio no era así, el usuario Rosa Salvadora Lencinas lencinas.rosa@inta.gob.ar Autorizado.

[2015-11-24 13:47] mauriciopasquier commented on #91
@Raul-B: puede ser que hayan creado el perfil con otro usuario? Un usuario eliminado?

[2015-11-24 13:51] Raul-B commented on #91
No me acuerdo, pero creo que el usuario (Rosa), se habia olvidado la contraseña y no podia restaurarla. Y la verdad ya no recuerdo es probable yo haya eliminado y dado a dar de alta nuevamente con el mismo nombre de usuario.

[2015-11-24 13:58] mauriciopasquier commented on #91
Claro, eso me parece. Estoy buscando en los backups para confirmar, pero si fuera así, es normal que no pueda acceder, ya que no es el usuario que cargó el perfil. Sólo los administradores pueden modificar perfiles de otros usuarios o perfiles sin usuario.

Voy a asignarle a Rosa los perfiles y series que había creado con el usuario viejo, así puede editar. Y para evitar que vuelva a pasar algo as

[2015-11-24 14:19] Raul-B commented on #91
Pero no creo que sea ese el problema por que despues con el usuario nuevo ingresamos datos y creamos fichas nuevas y tenemos el mismo inconveniente.

[2015-11-24 14:20] mauriciopasquier commented on #91
Ok, pasame por favor una ficha que hayan creado con el usuario nuevo así investigo

[2015-11-24 14:33] Raul-B commented on #91
Ahi estuvimos viendo y si, las nuevas series que cargo con el nuevo usuario andan bien. Esto paso hace unos meses todo comenzo con el tema de que se olvido la clave y no la podiamos restaurar, bueno ahora antes de tomar alguna decisión asi la voy a consultar primero, gracias.

[2015-11-24 15:28] mauriciopasquier commented on #91
Bueno, yo acabo de hacer lo que te dije así pueden editar los perfiles viejos. Avisame cualquier cosa.

[2015-11-24 17:16] mauriciopasquier commented on #91
@guilleschulz mientras revisaba este issue vi que todos estos perfiles quedaron huérfanos de un usuario tuyo, puede ser? Los asigno a tu nuevo usuario?

* http://sisinta.inta.gob.ar/perfiles/861
* http://sisinta.inta.gob.ar/perfiles/882
* http://sisinta.inta.gob.ar/perfiles/1191
* http://sisinta.inta.gob.ar/perfiles/1192
* http://sisinta.inta.gob.ar/perfiles/1193
* http://sisinta.inta.gob.ar/perfi

[2015-11-25 01:20] guilleschulz commented on #91
Hola Mauricio, si, tampoco sabía eso de que al cambiar de usuario dejabas de poder editarlo. El mail original con el que me había logueado ya no existe más, por eso lo cambié. Pasámelos nomás al usuario nuevo. Gracias.

[2015-11-25 13:21] angelini75 opened #95 "Materia orgánica o Carbono orgánico?"
@dariorodriguez en la parte de los datos analíticos tenemos una seción llamada materia orgánica y una fila que se llama C%. El dato que se está cargando es el de Carbono organico, es así? Cuando exportas los datos a un archivo csv el campo (o columna) que corresponde a ese dato se llama analitico_materia_organica. Ahí @mauriciopasquier debería corregir o el nombre del campo en la base de datos o e

[2015-11-25 13:32] angelini75 commented on #25
Exportar perfiles no funciona @mauriciopasquier. Y búsqueda no filtra, creo que se debe a que el operador (es mayor a, por ejemplo) no aplica para el pampo seleccionado. Quizas se puede reducir los operadores.

[2015-11-25 14:24] dariorodriguez commented on #95
Cierto @angelini75 Los datos cargados corresponden al Carbono orgánico. Para sacar la materia orgánica habría que multiplicar ese valor por 1.724. Puede ser que ahí esté la confusión. La tabla de sisinta copia la ficha de reconocimiento y ahí está C Org

[2015-11-25 17:10] angelini75 commented on #95
Entonces @mauriciopasquier en la base de datos hay que reemplazar el nombre analisis_materia_organica por analisis_carbono_organico

[2015-11-25 19:45] mauriciopasquier commented on #91
@guilleschulz listo!

[2015-11-25 19:45] #91 closed

[2015-11-25 19:59] mauriciopasquier commented on #25
@angelini75 yo acabo de exportar bien, decime qué perfil/es no podés exportar así reviso.

Sobre la búsqueda, también decime qué campos estabas tratando de filtrar. Hay algunos que no funcionaría el "es mayor a" porque son datos textuales y no numéricos, aunque parezcan numéricos (como las clases, se me ocurre ahora)

[2015-11-25 20:08] mauriciopasquier commented on #95
Lo cambio también en la [tabla de analíticos](http://sisinta.inta.gob.ar/perfiles/241/analiticos)?

[2015-11-25 21:13] mauriciopasquier commented on #95
listo!

[2015-11-26 08:31] angelini75 commented on #25
Ok, ahí encontré el problema. para filtrar por fecha yo buscaba mayor que 1901, por ejemplo, pero en realidad debía poner 1901-01-01. Si selecciono todos los mayores a año 1901 y menores a 1990 (que son los de mi área de estudio y algunos más) son unos 400 perfiles (estimo, o más). Eso se demora un rato y descarga un csv vacío.

[2015-11-26 11:45] dariorodriguez commented on #95
No. En la tabla de analíticos estaba bien. Es Materia Orgánica que incluye C %, N % y C/N

[2015-11-26 13:51] Raul-B opened #96 "Error al intentar cargar archivos adjuntos."
Hola Mauricio, te consulto el usuario Rosa Salvadora Lencinas lencinas.rosa@inta.gob.ar no puede adjuntar ningun archivo en ninguno de los perfiles, cuando presiona el boton para adjuntar le sale este cartelito:
"We're sorry, but something went wrong.
We've been notified about this issue and we'll take a look at it shortly."
Sin embargo con mi usuario Administrador, si puedo ¿que puede ser?

[2015-11-26 14:23] mauriciopasquier commented on #95
Oh.. Pero en el CSV se exporta(ba)

- `analisis_materia_organica_c`
- `analisis_materia_organica_n`
- `analisis_materia_organica_cn`

Lo que me piden es que cambie el primero a `analisis_carbono_organico`, pero los demás dejarlos como están? Hice el cambio para todos porque los veo como campos relacionados (por la tabla de analíticos)

[2015-11-26 14:41] mauriciopasquier commented on #96
Creo que encontré el error, esta tarde reviso bien.

[2015-11-27 05:32] mauriciopasquier commented on #96
Prueben ahora por favor.

[2015-11-30 13:39] Raul-B commented on #96
Ahora puede abrir la venta para adjuntar, selecciona el link y cuando le da al boton "crear adjunto", le sale el mismo error

[2015-11-30 15:41] angelini75 commented on #95
@mauriciopasquier es cierto, la lógica que usaste es correcta. Sin embargo creo que se presta a confusión.
Propongo que se discuta el nombre de los campos de la tabla csv (o de la base de datos?) Qué tal en la wiki<https://github.com/INTA-Suelos/SiSinta/wiki/Documentaci%C3%B3n>

[2015-11-30 17:22] mauriciopasquier commented on #95
El nombre de los campos en el csv lo saco de las columnas de la base de datos, es posible hacer un nombre específico pero me parece mejor mantener la consistencia.

[2015-11-30 17:23] mauriciopasquier opened #97 "Guardar borrador de la ficha"
Que a medida que se cargue la ficha se vaya guardando y validando, automáticamente (como un borrador).

[2015-12-01 10:23] midraed opened #98 "Perfiles: chequeados / no chequeados / a revisar"
Pienso que se podría agregar un casilla de opción múltiple para marcar un perfil como:  chequeado, no chequeado (default) y a revisar.
Ayer encontramos unos perfiles dudosos (406 y 410) y sería bueno poder marcarlos como dudosos. Esos posiblmente eran duplicados.

Quizas esta opcion podria ser solo visible para los administradores, para no generar ruido por ahora. Aunuqeu en el futuro ya habiamos

[2015-12-02 08:59] mauriciopasquier commented on #98
Me gusta y es relativamente simple de implementar

[2015-12-22 01:40] midraed opened #99 "sisINTA DOWN"
Estimados @sbanchero @mauriciopasquier,

sisINTA ha estado caído todo el día. Faltará una reiniciada??

Quedó en nada la mudanza de servidor.. porque quizás eso solucionaría...

Salute

[2015-12-22 02:29] mauriciopasquier commented on #99
Debe ser algo del proxy, porque desde adentro del server funciona.

[2015-12-22 02:32] midraed commented on #99
Lo esperamos a Santiago tonces!!

Gracias Mauri

El 21 de diciembre de 2015, 23:29, Mauricio Pasquier Juan <
notifications@github.com> escribió:

[2015-12-22 12:33] sbanchero commented on #99
Buenos días, si efectivamente el reverso está en las últimas. Tuvimos corte
programado de tensión y cuando arranco no pasó la verificación de disco.
Ahora ya está funcionando.

Peeeeero, no andan los DNS de INTA ahora.... no se termina nunca!

Abrazo!
Santiago

El 21 de diciembre de 2015, 23:32, Guillermo Federico Olmedo <
notifications@github.com> escribió:

--
Santiago Banchero

[2015-12-23 11:31] sbanchero commented on #99
Buenos días,
a las 9 hs hay un corte programado, que no se sabe la duración así que voy
a estar apagando todo en unos 10 minutos.

Abrazo
Santiago

El 22 de diciembre de 2015, 9:33, Santiago Banchero <
santiagobanchero@gmail.com> escribió:

--
Santiago Banchero

[2015-12-23 12:12] sbanchero commented on #99
Se suspendió para el lunes 28 a las 9 hs.

Felices fiestas muchachos!

El 23 de diciembre de 2015, 8:31, Santiago Banchero <
santiagobanchero@gmail.com> escribió:

--
Santiago Banchero

[2016-01-04 16:36] Raul-B commented on #99
Buenos días, sigue caido el servidor? por que desde Corrientes no podemos entrar! alguien sabe que paso?

[2016-01-04 16:42] sbanchero commented on #99
Hola Raúl,
estamos con problemas en los AA, no hay refrigeración segura. Así que no se
pueden encender los servidores.
Esto afecta a SISINTA, SIGA y GeoINTA.
Saludos
Santiago

2016-01-04 13:36 GMT-03:00 Raul-B <notifications@github.com>:

--
Santiago Banchero

[2016-03-03 23:54] mauriciopasquier opened #100 "Cambiar el nombre a SiSAr"
O alguna otra forma de escribirlo. Sisar, SisAr?

* [ ] Hay algunos cambios que hacer en el código pero nada grave
* [ ] Por el repo habría que avisar para que sigan encontrandolo :P
* [ ] Hay que modificar el logo o hacer uno nuevo. A mí me gusta el actual, sólo le sacaría el texto que igual lo hacía muy largo

[2016-03-03 23:54] #99 closed

[2016-03-04 00:01] mauriciopasquier commented on #76
Quedamos en mostrar sólo los perfiles públicos por ahora, para evitar frustraciones. Más adelante, con la interfaz de "pedir acceso", podemos mostrar todos pero diferenciar visualmente (azul/rojo?) los públicos de los privados.

[2016-03-04 00:02] mauriciopasquier opened #101 "Autoguardar el formulario"
Autoguardar el formulario como esté, al salir de un campo o cada x segundos. Esto evitaría que se pierda una ficha medio cargada por la sesión o cualquier motivo.

[2016-03-04 00:03] mauriciopasquier opened #102 "Autocompletar roto"
Está fallando el autocompletado de reconocedores y etiquetas

[2016-03-04 00:09] mauriciopasquier commented on #97
Duplicado :P

[2016-03-04 00:09] #97 closed

[2016-03-04 00:10] mauriciopasquier opened #103 "Mapa de vista de Perfil roto"
Parece que no está cargando en algunos perfiles

[2016-03-04 05:32] mauriciopasquier opened #104 "Nuevo VPS"
Quedamos con @sbanchero que armaba un nuevo VPS con 4gb y la [última iso](https://www.archlinux.org/download/) de archlinux, para prepararlo con tiempo antes de dejar el anterior.

[2016-03-04 12:44] dariorodriguez commented on #76
Eso estaría bueno

[2016-03-04 13:35] guilleschulz commented on #96
Mauricio, este mismo error que menciona Raúl es lo que me sale a mi que te comentaba los otros días. Abrazo

[2016-03-04 17:54] mauriciopasquier commented on #96
@Raul-B @guilleschulz prueben ahora por favor

[2016-03-04 18:51] #102 closed

[2016-03-04 18:51] #103 closed

[2016-03-04 18:52] mauriciopasquier commented on #88
Lo subí a 1000 cm

[2016-03-04 18:52] #88 closed

[2016-03-04 18:59] mauriciopasquier commented on #94
Ver #104

[2016-03-04 18:59] #94 closed

[2016-03-04 19:02] mauriciopasquier opened #105 "Backup automático a EEA Mendoza"
Con @midraed quedamos en implementar esto pero no hablamos sobre cómo.

[2016-03-04 19:08] mauriciopasquier commented on #33
Resolví eso pero esta discusión está lejos de resolverse :P

[2016-03-04 20:03] midraed commented on #105
Dump de la db y rsync +ssh?

Ya me fui de la ofi, pero luego configuro y hacemos una tarea de cron...

S
El 04/03/2016 16:02, "Mauricio Pasquier Juan" <notifications@github.com>
escribió:

[2016-03-07 11:16] Raul-B commented on #96
Quedo de lujo, gracias Mauricio!

[2016-03-07 16:52] mauriciopasquier opened #106 "Email desde la aplicación"
Necesitamos la cuenta y los datos de acceso, creo que @midraed estaba con eso pero lo pongo acá para no olvidarnos.

[2016-03-07 16:55] mauriciopasquier opened #107 "Certificado ssl"
Un certificado para sisar.inta.gob.ar, para tener un dominio https válido. Había que gestionarlo con la misma gente que lo del mail @midraed

[2016-03-08 13:01] guilleschulz commented on #96
Anda de diez. Gracias

[2016-03-08 13:40] mauriciopasquier commented on #96
Me alegro, gracias por confirmar @Raul-B y @guilleschulz

[2016-03-08 13:40] #96 closed

[2016-03-10 16:05] dariorodriguez commented on #100
A ver que le parece a Fede...pero el SiSAr podría ser. También habían propuesto SiS.ar

[2016-03-10 16:23] dariorodriguez commented on #105
No entiendo un pepino de lo que hablan...pero hagan un bacap confiable porfis

[2016-03-16 22:04] mauriciopasquier commented on #105
@midraed pasame tu ssh pública así te agrego al usuario de la aplicación y podés leer el directorio

[2016-04-04 20:14] mauriciopasquier opened #108 "Ficha Corrientes"
Nombre tentativo: Formulario Provincia de Corrientes

Cambios necesarios (sólo en la parte de “Analíticos”), que me pasó @dariorodriguez:

1. Donde dice “Carbono Orgánico” agregar una fila arriba de “C %” que diga “MO %”, su valor no se carga, ya que sería una fórmula (= a la celda ya cargada de C% x  1.724). El valor se puede expresar con dos decimales
2. En “Bases intercambiables” agregar una fi

[2016-04-06 18:29] dariorodriguez commented on #108
Fui claro Mauricio ? Cualquier cosa avisame

[2016-04-15 13:03] Raul-B commented on #108
Bien, estaremos pendientes de los cambios, gracias.

[2016-04-15 22:50] mauriciopasquier commented on #108
Esta semana la subo

[2016-04-19 14:14] angelini75 commented on #98
Estuve hablando con Darío sobre algo relacionado a esto. Usando los datos encontre errores en algunos perfiles. Estaría bueno un "Flag" que te permita describir que problema encontraste y que le mande un mail a Darío sobre el problema. Darío (o el administrador del perfil) luego podría quitar el flag.

[2016-04-19 19:33] mauriciopasquier commented on #98
Ok, podemos hacer que al marcar un perfil como "A revisar" te pida input (opcional) sobre el problema

[2016-05-06 22:02] mauriciopasquier commented on #105
Estamos haciendo backups generales de los últimos 7 días. Piensan que haga falta acumular más tiempo?

Falta la parte de automatizar que se pasen a EEA. Como dice @midraed, con cron
y rsync estamos. Yo estoy usando este comando:

    rsync -avz --inplace --delete sisinta:/srv/sisar/backups/ <dir de backups local>

pero no lo puedo automatizar por la dichosa vpn. El comando sincroniza el directorio

[2016-05-06 22:07] mauriciopasquier commented on #108
Ya está el código, esta noche lo subo al server. Disculpen la demora, tuve algunas complicaciones.

[2016-05-06 22:09] dariorodriguez commented on #108
No te preocupes. Como venis con los cobros de las facturas del ministerio ?
El 6/5/2016 19:07, "Mauricio Pasquier Juan" <notifications@github.com>
escribió:

[2016-05-07 18:28] mauriciopasquier commented on #108
Nunca más se atrasaron, todo bien.

Ya está arriba la ficha, avisenme de cualquier problema en un issue nuevo por favor.

[2016-05-07 18:56] #108 closed

[2016-05-09 14:19] dariorodriguez opened #109 "Ficha Corrientes"
Esto ya está disponible Mauricio ?

[2016-05-10 02:23] mauriciopasquier commented on #109
Sí, estoy seguro de que me fijé que andaba todo bien :P

[2016-05-10 07:07] mauriciopasquier opened #110 "CSV y excel"
Habíamos quedado en exportar el `.csv` con los separadores defaults de excel, pero por lo que estuve averiguando cambia mucho entre versiones (para variar) y cambia entre regiones también, si lo tenés en inglés es una cosa, en castellano otra, etc.

Encontré [esta solución](http://stackoverflow.com/a/19769403/1325155) que consiste en agregar en la primer fila un `sep=,` o algo así, un código que s

[2016-05-11 17:54] mauriciopasquier opened #111 "Actualizar versión del mapa"
En estos días Google dejó de soportar la versión del mapa que usamos, hay que actualizar eso. Los [errores](https://developers.google.com/maps/documentation/javascript/error-messages#deverrorcodes) que llegan son: `RetiredVersion` y `SensorNotRequired`.

[2016-05-11 17:55] #109 closed

[2016-06-28 16:36] dariorodriguez opened #113 "Arenas"
Nos encontramos con un pequeño problema al cargar las arenas en los analíticos. Si bien lo correcto es la clasificación por tamaño que ahora tiene sisinta, algunos laboratorios sólo informan el valor total de las arenas (que sería la sumatoria de todas las fracciones). Sería importante contar entonces con ese campo, que podría realizar automáticamente la suma de todas las arenas, o bien, se podría

[2016-06-30 09:57] mauriciopasquier commented on #113
Lo agrego como en blanco mientras decidimos si autocompletarlo o calcularlo vale la pena, principalmente pensando en esta cuestión de datos correctos/útiles/curados vs datos fieles a la planilla.

[2016-06-30 09:57] mauriciopasquier commented on #113
Sería para todas las fichas?

[2016-06-30 12:17] dariorodriguez commented on #113
Sí, por ahora mejor en blanco, para rellenar a mano. Sería bueno que aparezca el campo donde terminan las arenas, algo así:

Arcilla < 2u

Limo 2-20u
Limo 2-50u

Arena muy fina
Arena fina
Arena media
Arena gruesa
Arena muy gruesa
Arena Total

[2016-06-30 12:18] dariorodriguez commented on #113
Sí, habría que incluirlo en todas las fichas (total, es un campo que si no se completa no pasa nada)

[2016-07-01 12:52] dariorodriguez commented on #113
Ya te contesté por el GitHub. Sabés que desde hace unos días no se puede
ingresar la ubicación (lat/long) de los perfiles ? Estuviste tocando eso ?

Sino dejalo como antes que andaba

Abrazo

2016-06-30 6:57 GMT-03:00 Mauricio Pasquier Juan <notifications@github.com>:

--
Darío

[2016-07-02 00:05] mauriciopasquier commented on #113
Sí, toqué algo respecto a la ubicación. Lo arreglo el fin de semana, disculpen.

[2016-07-04 01:17] #111 closed

[2016-07-04 01:30] mauriciopasquier commented on #76
Cierro el issue porque está implementado lo de mostrar sólo los públicos. Si más adelante surge otra necesidad abrimos otro issue.

[2016-07-04 01:30] #76 closed

[2016-07-04 16:44] mauriciopasquier commented on #113
Ayer (creo) arreglé lo de las coordenadas. Me confirman?

[2016-07-04 16:52] dariorodriguez commented on #113
Sí !!

Gracias capo

2016-07-04 13:44 GMT-03:00 Mauricio Pasquier Juan <notifications@github.com>
:

--
Darío

[2016-07-06 22:38] mauriciopasquier commented on #80
No me queda claro al releer la discusión qué campos agregar, dónde y qué valores permitir. Lo subiría junto con lo de arenas (#113).

Esto iría en la ficha principal? Es genérico del perfil, o va en cada horizonte? Está bien usar Observaciones para esto?

Esto iría en Datos analíticos, al final de textura como dice @guilleschulz, no?

[2016-07-06 23:01] guilleschulz commented on #80
Mauricio
Creo que lo de % de presencia y tamaño (caso 1) en cada horizonte se podría poner en el campo "formaciones especiales".

El caso 2 es como vos decís, se podría agregar un campo al finalizar Textura en los Datos Analíticos.

Saludos.

[2016-07-07 00:59] mauriciopasquier commented on #80
Bueno, entonces por ahora lo agregué a Datos Analíticos nomás. Cualquier cosa avisen por nuevo issue. Ya está subido

[2016-07-07 00:59] #80 closed

[2016-07-07 00:59] mauriciopasquier commented on #113
Ya está subido.

[2016-07-07 00:59] #113 closed

[2016-07-07 17:06] dariorodriguez commented on #113
Así está bien !

2016-07-06 21:59 GMT-03:00 Mauricio Pasquier Juan <notifications@github.com>
:

--
Darío

[2016-07-07 17:07] dariorodriguez commented on #80
Creo que está bien. Igual veamos que dice Fede, ya que por ej Cuyo es zona
de suelos pedregosos

2016-07-06 21:59 GMT-03:00 Mauricio Pasquier Juan <notifications@github.com>
:

--
Darío

[2016-07-07 19:07] dariorodriguez commented on #113
Algo como esto podría ser. Esta es una planilla del Instituto de los 90

2016-07-06 21:59 GMT-03:00 Mauricio Pasquier Juan <notifications@github.com>
:

--
Darío

[2016-07-07 19:24] mauriciopasquier commented on #113
@dariorodriguez no se qué plantilla decís. Creo que los mails a github no aceptan adjuntos

[2016-07-08 12:28] dariorodriguez commented on #113
Que nabo. Te lo mandé por mail. Igual no te preocupes, lo charlamos el
martes

El 7 de julio de 2016, 16:25, Mauricio Pasquier Juan <
notifications@github.com> escribió:

--
Darío

[2016-08-26 16:41] dariorodriguez commented on #110
Hola Mauricio: estuvimos probando con fabiana y hay algunos inconvenientes (la gente del ministerio se quejó). Te detallo...

1) Al exportar los perfiles Latitud y Longitud quedan en el mismo campo. Tendría que ser uno para Lat y otro para Long
2) Dentro de los atributos para exportar habría que incluir el de Horizonte, de manera de poder exportar cada horizonte con todas sus variables
3) Cuando s

[2016-08-26 18:28] mauriciopasquier commented on #110
Ahí estoy mirando qué pasa. En 2 te referís a un campo que automáticamente exporte todos los datos de los horizontes?

[2016-08-27 11:27] dariorodriguez commented on #110
Si querés nos reunimos un día un rato y te muestro las cosas, por ahí las
podemos resolver ahí mismo. Medio que me estan presionando del ministerio y
me gustaría avanzar con eso

Donde te mudaste ? Si querés nos juntamos cerca así no tenés que estar
viniendo

Abrazo

2016-08-26 15:28 GMT-03:00 Mauricio Pasquier Juan <notifications@github.com>
:

--
Darío

[2016-08-29 10:09] mauriciopasquier commented on #110
Ahí arreglé lo de las coordenadas. Estoy por Caballito, pero podemos ir avanzando si me decís por ejemplo exportando qué perfiles se mezclan los datos. Puede ser una cosa de excel nomás.. porque en openoffice no lo veo, por ejemplo.

[2016-08-29 12:35] dariorodriguez commented on #110
Bueno...lo que pasa es que cuando exportas un solo perfil anda bien la
exportación, pero cuando son varios es como que mezcla los datos: por ej te
pone los datos de una variable en otra. Otra cosa que me están jorobando es
con lo de la selección a traves del mapa (por ej, poder exportar por
provincia, por departamento o partido o directamente seleccionando un area
del mapa), dicen que eso ya tendr

[2016-09-02 06:29] mauriciopasquier commented on #110
Ahí subí la funcionalidad de exportar seleccionando un área del mapa. Según lo que agregué al inicio:

Recuerden que según discutimos en #76, sólo se muestran (y por lo tanto se seleccionan) los perfiles públicos. Además el clustering de puntos a veces confunde, porque al seleccionar un cluster puede que las coordenadas que marcás no contengan todos los puntos del cluster. Igual el mapa hace zoom

[2016-09-02 06:56] angelini75 commented on #110
Yo creo que sería importante poder contar con varias opciones de selección espacial. Hoy en día esta es la manera por defecto de seleccionar datos espaciales (o al menos una de las más intuitivas para el usuario). Entonces debería haber varias opciones: con un rectángulo, dibujando un polígono, agregando perfiles a una selección, por partido/departamento, por provincia. Estos dos últimos ni siquie

[2016-09-02 07:07] angelini75 commented on #110
El tema de exportar por provincia y demás recuerdo que lo hablamos hace mucho ya (2013). Esta también en la wiki, cuarta etapa. Pero quizas no es lo que acordaron recientemente.

[2016-09-02 13:24] dariorodriguez commented on #110
Buenísimo Mauricio !

El 2 de septiembre de 2016, 3:29, Mauricio Pasquier Juan <
notifications@github.com> escribió:

--
Darío

[2016-09-02 13:55] dariorodriguez opened #114 "Fecha de carga en los Perfiles"
Mauricio: se podrá colocar en la lista de perfiles una columna con "Fecha de Carga" y otra con "Cargado por" ?
Eso nos ayudaría a poder visualizar mejor la velocidad de carga de cada uno de los que suben perfiles

[2016-09-02 13:57] dariorodriguez opened #115 "Contacto"
En la pantalla general, donde dice "series", "perfiles" se podrá agregar "Contacto" y que se dirija a sisinta@inta.gob.ar ?

Así podemos recibir comentarios y sugerencias

[2016-09-05 07:08] mauriciopasquier commented on #115
Sí, lo agrego. Habría que pedir un alias para sisar@inta.gob.ar, no?

[2016-09-05 07:09] mauriciopasquier commented on #114
Ok

[2016-09-05 07:11] mauriciopasquier commented on #110
@angelini75 Si me pasan una tabla con los polígonos de provincia y departamento, voy haciendo eso al menos. Las demás formas de selección que decís, sí, estarían muy bien, pero podemos dejarlas para cuando esté arriba la interfaz nueva?

[2016-09-05 13:41] dariorodriguez commented on #115
Por ahora pongamos esa nomás

2016-09-05 4:08 GMT-03:00 Mauricio Pasquier Juan <notifications@github.com>:

--
Darío

[2016-09-05 22:11] dariorodriguez commented on #110
Creo que sí, lo mejor sería que se pueda seleccionar por Provincia y por
Departamento / Partido

El 5 de septiembre de 2016, 8:50, Marcos Angelini <notifications@github.com>
escribió:

--
Darío

[2016-09-20 09:21] mauriciopasquier commented on #110
Ya está lo de descargar por Provincia. Se accede desde Exportar, hay un botón que lleva a seleccionar una o varias provincias. Esa selección la agrega a la selección de perfiles actual. Es un poco feo que la lista no esté paginada y sean tantos perfiles, ya voy a ir corrigiendo el tema de la interfaz.

Ahora se me ocurre que podría agregar un botón para descargar directamente, con todos los atribu

[2016-09-22 11:57] dariorodriguez commented on #110
Dale, lo tengo que ver con fabiana porque era ella la que le pasaba, pero no en todos los casos. Te aviso

[2016-09-27 23:46] #115 closed

[2016-09-28 14:45] fabiananavarro commented on #110
Hola a todos!!! encontré mi "username" y finalmente pude entrar !!

@mauriciopasquier buenísimo lo de la selección desde el mapa y por provincias. Agiliza mucho más la búsqueda. El error en cuanto a superposición de columnas ya no pasa. También quedó muy bueno la sepraración de las columnas de Lat y Long. En cuanto a lo del "horizonte", lo que se necesita es que esté la posibilidad de exportar "Cl

[2016-09-30 06:09] mauriciopasquier opened #116 "Ficha Misiones"
Dice @fabiananavarro:

Algunas preguntas:

- Qué valores puede tomar?
- Con qué precisión?
- Hago una nueva ficha para Misiones con este dato, o lo agrego a la general?

[2016-09-30 06:11] mauriciopasquier opened #117 "Exportar Clase Hz"
Está faltando este campo en el csv.

[2016-09-30 06:12] mauriciopasquier commented on #110
Ya está andando lo de exportar un sólo perfil (hay un link "Exportar" en la vista de cada perfil). Otra opción es ir a la url del perfil pero agregarle .csv al final: http://sisinta.inta.gob.ar/perfiles/3.csv (el link hace eso mismo básicamente).

Abrí nuevos asuntos para separar lo de "Clase Hz" (#117) y que me describan bien la ficha de Misiones (#116).

[2016-09-30 06:13] mauriciopasquier commented on #104
Ya está listo el nuevo VPS, falta migrar la url y actualizar el backup, nada más.

[2016-09-30 13:25] fabiananavarro commented on #116
@mauriciopasquier dame  un par de días porque estoy averiguando también en Corrientes, en qué medida expresan el Al. En cuanto a hacer una nueva ficha, no hace falta. Solo habría que agragarlo como una otra variable. Por lo que ví en la ficha nueva de Corrientes ya está agregado. Habría que hacer lo mismo en la de Etchevere. Lo que sí, te pido que esperes hasta la semana que viene para ver bien en

[2016-09-30 18:15] dariorodriguez commented on #116
A lo mejor, si en la ficha de Corrientes ya está disponible, se podría usar esa para cargar los perfiles de Misiones y todo solucionado

[2016-09-30 18:21] dariorodriguez commented on #110
Buenísimo Mauricio. Lo de exportar desde el perfil funciona al pelo. Lo del
117 es algo que se dieron cuenta fabiana y la gente del ministerio: no
exporta esa variable (si el horizonte es A, Bt, Ck...etc.). Lo de misiones
sin apuro por ahora

El 30 de septiembre de 2016, 3:12, Mauricio Pasquier Juan <
notifications@github.com> escribió:

--
Darío

[2016-10-01 20:59] mauriciopasquier commented on #116
Ah, me había olvidado que agregamos ese campo en Corrientes. Espero entonces.

[2016-10-04 12:56] Raul-B opened #118 "Valores cambiados en las fichas de Corrientes"
Hola Mauricio, bueno estamos teniendo un problema en la carga de las fichas no sé si son solo las de Corrientes. La cuestion es que cuando se ingresan los datos de los horizonte en forma **parcial**, ej. _hzte, prof, lim, color y textura_. Y luego se pasa a la carga de los **datos analiticos,** al volver y cargar los datos restantes del horizonte. Se altera el **orden** de la presentación de los d

[2016-10-05 23:13] mauriciopasquier commented on #118
Entiendo, gracias por la descripción tan detallada del problema. Ya estoy buscando cómo es que pasa esto.

[2016-10-11 06:19] mauriciopasquier commented on #117
Estuve viendo y no era que faltaba el campo, pero sí estaba mal mostrado. Internamente se llama "Tipo", y me quedó así en la parte de exportar. Ya lo cambié a "Clase".

[2016-10-11 10:02] mauriciopasquier commented on #118
Bueno, ya no debería pasar este problema. Te pido que me confirmes cuando prueben con nuevos perfiles.

El problema que queda es qué pasa con los perfiles que ya se cargaron así. Yo no tengo forma de saber si están desordenados, creo que la única opción es revisar uno por uno y corregir los datos "a mano". Disculpen!

[2016-10-11 10:02] #117 closed

[2016-10-17 17:51] fabiananavarro commented on #117
Buenísimo Mauricio, ya lo vi. Pregunta, es posible cambiar el nombre "clase" por el de "horizonte"? o se complica?

[2016-10-28 12:20] Raul-B commented on #118
Quedo re bien gracias @mauriciopasquier!

[2016-11-11 15:36] #118 closed

[2016-12-02 16:23] mauriciopasquier commented on #104
Ya está todo el sistema migrado y andando en el nuevo VPS, si notan algo que falla avisen por acá.
Tiene el doble de capacidad que antes y un webserver más eficiente, no debería colgarse más.

[2016-12-02 16:23] #104 closed

[2017-02-15 12:18] dariorodriguez opened #119 "Suelos Orgánicos"
No se si esto ya fue planteado en algún momento, pero tenemos un problema con la carga de los suelos orgánicos (son pocos a nivel país, pero existen). Este es un caso particular, ya que normalmente tienen un horizonte O que se ubica por arriba del primer horizonte mineral (supongamos el A). Pero para las profundidades, se considera que el A arranca en 0 cm y el O se mide desde ese punto para arrib

[2017-02-15 12:25] angelini75 commented on #119
En algunos sistemas el Horizonte O del ejemplo sería de -20 a 0. Eso me parece más correcto, pero no se si el campo de profundidades acepta valores negativos.

[2017-02-15 12:44] mauriciopasquier commented on #119
Se puede resolver como prefieran. En este momento el sistema fuerza que la profundad esté entre 0 y 1000 cm. Puedo sacar la restricción o aumentar el rango.

Ya que estamos en el tema, creo que nos hemos chocado con esa clase de restricciones o controles varias veces ya, y me gustaría reflotar la idea que puse en [este comentario](https://github.com/INTA-Suelos/SiSinta/issues/33#issuecomment-75867

[2017-02-15 12:47] mauriciopasquier commented on #119
Lo traigo a colación porque en el primer concepto (del comentario) podría no haber control en absoluto, sería "de carga libre" y en el otro podríamos forzar a que haya datos sanitizados.

[2017-02-15 12:54] dariorodriguez commented on #119
No creo que sea bueno lo de carga libre. Pero sí deberíamos permitir que se carguen horizontes que vayan, supongamos, de 200 cm a 0 cm (por encima de la superficie). Lo de que tenga valores negativos no lo tengo claro. Marcos, como es en Europa ?

[2017-03-09 13:19] dariorodriguez opened #120 "Pequeñas modificaciones en Datos analíticos"
Donde dice Capacidad de agua "3 atm" debe decir "1/3 atm"

Donde dice:

pH en pasta
pH en H2O (1:2,5)
pH en KCL (1:2,5)

habría que agregar 2 filas nuevas (los valores que se ingresan con las mismas condiciones que los demás pH)

pH FlNa 2 minutos
pH FlNa 60 minutos

[2017-03-09 15:19] guilleschulz opened #121 "Series sin perfiles asociados"
Buenos días Mauricio, escribo por que estaba revisando la lista de Series y hay muchas que están sin ningún perfil asociado. Esto pasa en casi todas las provincias, por distintos motivos (estaba mal puesto el símbolo y se generó una serie nueva al cambiarlo, gente que cargó perfiles y le puso el nombre de series, etc.). Lo que quería saber es si se puede agregar una opción como para poder tildar d

[2017-03-09 15:58] mauriciopasquier commented on #121
Sí, estaría bien esa opción de "acciones en masa"

[2017-03-09 18:24] mauriciopasquier commented on #119
Quedamos en negativos entonces?

[2017-03-09 18:32] dariorodriguez commented on #119
Yo preferiría que venga decreciendo hasta 0 (que sería la superficie) y
luego vuelva a aumentar. Por ej

O1 30-12 cm
O2 12-0 cm
A     0-25 cm
Bt    25-38 cm
.....
.....

2017-03-09 15:24 GMT-03:00 Mauricio Pasquier Juan <notifications@github.com>
:

--
Darío

[2017-03-10 09:06] angelini75 commented on #119
Yo no tengo una preferencia por como luce el valor de profundidad del horizonte organico, pero al momento de usar los datos de muchos perfiles, usar valores positivos generaría un conflicto, ya que si calculas la profundidad del horizonte te queda con valores negativos. No es nada que no se pueda corregir. Salvo esto, no veo inconveniente en usar cualquier convención.
La guia de campo de descripci

[2017-03-10 13:42] dariorodriguez commented on #119
Sí, como dice Marcos, lo mejor sería tomar como valor 0 la superficie
actual y de ahí todo hacia abajo. Pero no olvidemos que la mayor parte de
los perfiles que tenemos están relevados con la forma anterior, por lo que
para facilitar la carga me parece que tenemos que conservar la forma antigua

El 10 de marzo de 2017, 6:06, Marcos Angelini <notifications@github.com>
escribió:

--
Darío

[2017-06-12 17:05] dariorodriguez opened #124 "Acceso público adjuntos"
Me hicieron notar desde San Juan que los adjuntos (fotos, escaneos, etc.) no son de acceso público aunque el perfil donde están adjuntados si lo sea. Lo probé yo: si me logueo (como administrador) puedo ver lñas fotos, en cambio si ingreso sin usuario (como público general) puedo ver el perfil público pero no los adjuntos

[2017-06-12 18:37] mauriciopasquier commented on #124
Esta tarde lo reviso bien

[2017-06-13 06:30] mauriciopasquier commented on #124
Ahí debería estar resuelto. Me confirmás con alguno de los perfiles que probaste?

[2017-06-13 06:57] #124 closed

[2017-06-13 12:26] dariorodriguez commented on #124
Parece que si, mañana te confirmo

2017-06-13 3:57 GMT-03:00 Mauricio Pasquier Juan <notifications@github.com>:

--
Darío

[2017-06-13 13:07] dariorodriguez opened #125 "Contador de visitas"
Ante la próxima presentación formal de Sisinta, me parece que sería bueno que aparezca un contador de visitas al sistema. Por ahí que solo los administradores lo veamos, no se.
Esto nos podría dar una idea de cuan visitado es diariamente, semanalmente, mensualmente, etc

[2017-06-13 16:47] mauriciopasquier commented on #125
Si es para admins y para tener información sobre el uso del sistema, en ese caso me parece mejor implementar algo tipo google analytics. O mejor, una versión open source para integrar como [piwik](https://piwik.org/). [Acá hay una demo](https://demo.piwik.org/index.php?module=CoreHome&action=index&idSite=3&period=day&date=yesterday) de cómo se podría ver y qué información podríamos tener sobre el

[2017-06-13 17:07] dariorodriguez commented on #125
Excelente lo del piwik. Es muy difícil de incluir ?

El 13 de junio de 2017, 13:47, Mauricio Pasquier Juan <
notifications@github.com> escribió:

--
Darío

[2017-06-13 21:40] mauriciopasquier commented on #125
No sabría decirte, puede que sí, a menos que ya haya algo similar para otro sitio en el inta y se pueda reutilizar la instalación. O de última, ya que ya estamos usando google para los mapas, podemos usar google analytics y ya. Es la opción más simple.

[2017-06-14 13:44] dariorodriguez commented on #125
Si te parece bien podríamos hacer una prueba

El 13 de junio de 2017, 18:40, Mauricio Pasquier Juan <
notifications@github.com> escribió:

--
Darío

[2017-06-15 21:33] mauriciopasquier commented on #125
Sí, podría probar la semana que viene, si les parece

[2017-06-16 12:09] dariorodriguez commented on #125
Bueno...por mi sí !

2017-06-15 18:33 GMT-03:00 Mauricio Pasquier Juan <notifications@github.com>
:

--
Darío

[2017-06-22 13:30] dariorodriguez opened #126 "Sugerencias desde San Juan"
Me llega esta sugerencia desde dicha provincia cuyana (y como es buena productora de vinos, creo conveniente resolver...)

Estimado Dario

Te hago llegar dos sugerencias de ajustes para la plataforma de carga SISINTA que a mi entender la mejoran.

•	Al Inicio de la carga de la ficha sería muy bueno que además de Nombre y provincia sea agregado el campo LOCALIDAD
•	Para quienes consulten la base de

[2017-06-22 23:07] midraed commented on #126
Lo de localidad, podria quedar en ubicacion.. no se si estoy tan de acuerdo
en un campo mas.

Lo de las fotos, 100% de acuerdo.. quizas incluso poniendo unos tiles abajo
de la ficha?

El 22 de junio de 2017, 10:30, Dario Martin Rodriguez <
notifications@github.com> escribió:

[2017-06-23 09:45] angelini75 commented on #126
Totalmente de acuerdo con la segunda observación. De lo contrario la única manera de saber si un perfil tiene adjuntos es entrando a adjuntos: un poco molesto.

Lo de localidad... me parece que un perfil pertenece a un departamento u otra unidad administrativa, pero no a localidad. Localidad es un punto en el mapa al igual que el perfil. A lo sumo se puede pensar en localidad más cercana.

[2017-06-24 18:46] mauriciopasquier commented on #51
Todavía no termino de extraer las cadenas pero ya está la infraestructura de selección de idioma e interfaces de traducción.

[2017-06-24 18:46] #51 closed

[2017-06-29 19:22] midraed commented on #1
Holy issue resurrection, batman!

Che: estaba pensando,
Deberiamos tener un boton desde la pagina de exportacion que permita correr diferentes scripts...
Entonces se correrian sobre los perfiles seleccionados.
Algunos podrian entregar una imagen y otros un poco de texto... o ambos.

No se si un boton la pagina de exportacion o un nueva entrada del menu con una copia del selector... pero la idea es

[2017-06-30 10:23] midraed commented on #1
Pensandolo mejor: Podria ser que los datos de entrada son el resultado de una busqueda guardada?

Digamos en la parte de "Analizar perfiles" hay un dropdown con las busquedas y un dropdown con los scripts?

[2017-06-30 22:54] mauriciopasquier commented on #1
Mi idea es hacer una sola vista donde seleccionar perfiles, y desde la selección trabajarlos (ya sea exportando, corriendo r, etc). Esta selección se podría hacer desde el mapa, desde las búsquedas, desde cada perfil, etc.

Estoy tratando de probar los scripts que me pasaste y no puedo instalar las dependencias :P
Desde qué repo trato de instalar? Con `http://cran.r-project.org` me dice:

    ERRO

[2017-07-01 01:33] mauriciopasquier commented on #1
Me parece que es problema con mi máquina y los paquetes que tengo instalados.. ahora confirmo.

[2017-07-01 02:16] mauriciopasquier commented on #1
Era eso nomás, tuve que actualizar un montón de cosas (e instalar `gcc-fortran`).

[2017-07-05 14:23] guilleschulz opened #127 "Profundidad máxima del perfil"
Buenos días, les escribo por que estoy pasando perfiles de Misiones y me están quedando corto los 10 m de profundidad máxima que tiene Sisinta.

Mauricio, se podrá poner en 20 m? sino me queda información afuera que es una lástima que se pierda.

Gracias.

Guillermo

[2017-07-05 21:41] mauriciopasquier commented on #127
Sí, no habría problema. 20 va a estar bien, o saco la restricción directamente?

[2017-07-05 21:58] guilleschulz commented on #127
20 va a andar. Gracias

El 5/7/2017 18:41, "Mauricio Pasquier Juan" <notifications@github.com>
escribió:

[2017-07-10 17:32] guilleschulz commented on #119
Una opción sería sacar la restricción. Con lo cual solucionaríamos 2 problemas, el de los suelos orgánicos y en el caso de perfiles como por ejemplo de Misiones que pueden tener más de 10 m de profundidad. Saludos

[2017-07-24 11:09] mauriciopasquier opened #128 "Destacar adjuntos en la vista de Perfil"
(Viene de #126)

• Para quienes consulten la base de datos sugiero que cuando haya adjuntos (principalmente FOTOS del ambiente y perfil), estos se destaquen de manera significativa con un botón para clikear llamativo. Así como está hoy, un lector no habituado al portal, rara vez se enterará que la ficha contiene fotos las cuales sabemos que poseen un ENORME VALOR CUALITATIVO en el profile técnico

[2017-07-24 11:23] mauriciopasquier commented on #119
Por lo que entiendo, creo que se puede implementar lo mejor de ambos mundos, si no les parece confuso:

@angelini75: "Yo no tengo una preferencia por como luce el valor de profundidad del horizonte organico, pero al momento de usar los datos de muchos perfiles, usar valores positivos generaría un conflicto, ya que si calculas la profundidad del horizonte te queda con valores negativos."

@dariorod

[2017-07-24 12:53] mauriciopasquier commented on #127
Ahí aumenté a 20m, disculpá la demora!

[2017-07-24 12:53] #127 closed

[2017-09-05 22:55] guilleschulz commented on #1
Buenas, actualmente como se puede usar esto de "aqp" integrado a SisInta. Nos sería de mucha utilidad.

Estuve tratando de entrar y a partir de seleccionar perfiles aplicar algo de esto, pero no encuentro las opciones.

Gracias.

[2017-09-05 23:50] mauriciopasquier commented on #1
@guilleschulz no está subido actualmente, hice una integración "beta" digamos, pero no quedó subida al servidor en producción porque daba algunos errores, según los datos que tuvieran cargados o no los perfiles. Habría que definir bien cómo filtrar los perfiles, si corresponde al usuario, o si cada script puede tener una serie de "campos obligatorios" con los que filtrar automáticamente.

[2017-09-26 10:03] angelini75 opened #129 "Integración Información de Series -- sisinta"
Hola a todos,

Esta página tiene que estar integrada en sisinta.
http://anterior.inta.gov.ar/suelos/cartas/index.htm

Y debería haber un link desde serie (p.ej. http://sisinta.inta.gob.ar/es/series/2201) a este link http://anterior.inta.gov.ar/suelos/cartas/series/La_Escocia.htm

De hecho, mucha gente conoce la pagina "anterior" de suelos porque consultan los datos de las series, y ha quedado fuer

[2017-11-15 18:31] dariorodriguez commented on #129
Sí Marcos, tal cual

[2018-02-28 18:48] mauriciopasquier opened #130 "Exportar demasiados datos satura la RAM"
El proceso de exportación actual está cargando en memoria todos los datos solicitados cuando se genera la salida. Cuando se piden demasiados datos (e.g. todos los perfiles) el procedimiento actual satura la RAM del server.

Habría que implementar un procesamiento gradual, y tal vez también streamear el archivo en vez de generarlo entero y descargarlo.

[2018-07-17 16:23] angelini75 commented on #130
@mauriciopasquier  no funciona exportar (con 3000 perfiles seleccionados). No da error.

[2018-09-17 17:39] angelini75 opened #136 "Remover restriccion profundidad horizonte"
Remover la restricción de número negativos para limite superior e inferior del horizonte.

[2019-02-05 17:46] angelini75 opened #137 "Busqueda por Usuario no funciona"
Hola a todos,

Encuentro que la opción de buscar por Usuario da error. Además, hay tres campos de usuarios en la búsqueda: Usuario de Perfil (supongo que es quién lo carga/mantiene los derechos), Usuario de Serie (podría omitirse) y usuario de proyecto (no muy implementado). Sobre el primero de los tres es que quiero hacer la búsqueda.

Saludos
Marcos

[2019-02-08 21:36] mauriciopasquier commented on #137
Ok, dame unos días que lo reviso

[2020-12-15 19:06] ErichSA commented on #74
$(document).ready(function(){
    jQuery.railsAutocomplete.options.showNoMatches = false;
  })